{% extends "forum/layout.html" %}

{% block page_title %}Log in - All About Berlin forum{% endblock %}

{% block content %}
<article class="section">
	<h1>Log in</h1>
	<div class="post-meta">
		<nav class="breadcrumbs" aria-label="Breadcrumbs">
			<i class="icon folder" aria-hidden="true"></i>
			<ol>
				<li><a href="{{ SITE_URL }}{% url 'forum_index' %}">Forum</a></li>
				<li>Log in</li>
			</ol>
		</nav>
	</div>
	<form method="post" action="{% url 'account_login' %}">
		{% csrf_token %}
		{% include "account/formBody.html" %}
		{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
		{% endif %}
		<div class="buttons bar">
			<button type="submit" class="button primary">Log in</button>
		</div>
	</form>
</article>
{% endblock %}
