{% extends "forum/layout.html" %}

{% block page_title %}Reset password - All About Berlin forum{% endblock %}
{% block robots %}<meta name="robots" content="noindex">{% endblock %}

{% block content %}
<article class="section">
	<h1>Reset your password</h1>
	<p>Enter your email address and we'll send you a link to set a new password.</p>
	<form method="post" action="{% url 'account_reset_password' %}">
		{% csrf_token %}
		{% include "account/formBody.html" %}
		<div class="buttons bar">
			<button type="submit" class="button primary">Send reset link</button>
		</div>
	</form>
</article>
{% endblock %}
