{% extends "forum/layout.html" %}

{% block page_title %}Email verification - All About Berlin forum{% endblock %}
{% block robots %}<meta name="robots" content="noindex">{% endblock %}

{% block content %}
<article class="section">
	<h1>Almost done!</h1>
	<p>We have sent you a confirmation email. <strong>Click the link in the email</strong> to activate your account. After you activate your account, you can create new topics and reply to other people.</p>
	<hr>
	<nav class="buttons bar previous-next">
		<a class="previous" href="{% url 'forum_index' %}">Back to forum</a>
	</nav>
</article>
{% endblock %}
