{% load forum_extras %}
{% load safe_markdown %}
{% if replies %}
	<ol class="h-feed">
		{% for reply in replies %}
			{% if reply.removed %}
				<li class="reply removed">
					{% if reply.removal_reason == 'user_banned' %}
						This reply was removed because its author was banned.
					{% elif reply.removal_reason == 'deleted_by_moderator' %}
						This reply was removed by a moderator.
					{% elif reply.removal_reason == 'deleted_by_user' %}
						This reply was deleted by its author.
					{% else %}
						This reply was removed.
					{% endif %}
				</li>
			{% else %}
				<li class="h-entry reply" id="reply-{{ reply.pk }}"{% if not reply.removed %} itemprop="comment" itemscope itemtype="https://schema.org/Comment"{% endif %}>
					<link itemprop="url" href="{{ SITE_URL }}{% url 'forum_thread' thread.pk %}#reply-{{ reply.pk }}">
					<div class="post-meta">
						{% include "forum/_username.html" with user=reply.author %}
						<div class="date" title="Posted on {{ reply.creation_date|date:'F j, Y' }}" aria-label="Comment date">
							<i class="icon calendar" aria-hidden="true"></i>
							<a class="u-url" href="{{ SITE_URL }}{% url 'forum_thread' thread.pk %}#reply-{{ reply.pk }}"><time class="dt-published" itemprop="datePublished" datetime="{{ reply.creation_date.isoformat }}">{{ reply.creation_date|date:'F j, Y' }}</time></a>
						</div>
					</div>
					<div class="article-body e-content" itemprop="text">{{ reply.body|safe_markdown }}</div>
				</li>
			{% endif %}
		{% endfor %}
	</ol>
{% else %}
	<p class="empty">There are no replies to show.</p>
{% endif %}
