{% extends "forum/layout.html" %}
{% load forum_extras %}

{% block page_title %}{% if page_obj.number > 1 %}Page {{ page_obj.number }} - {% endif %}{{ thread.title }} - All About Berlin forum{% endblock %}

{% block postHead %}<link rel="canonical" href="{{ SITE_URL }}{% url 'forum_thread' thread.pk %}">{% endblock %}

{% block content %}
<article class="section h-entry" itemscope itemtype="https://schema.org/DiscussionForumPosting"{% if page_obj.object_list %} itemref="{% for reply in page_obj %}reply-{{ reply.pk }}{% if not forloop.last %} {% endif %}{% endfor %}"{% endif %}>
	<link itemprop="url" href="{{ SITE_URL }}{% url 'forum_thread' thread.pk %}">
	<h1 class="p-name" itemprop="headline">{{ thread.title }}</h1>
	<div class="post-meta" aria-label="Topic author, publication date and category">
		<nav class="breadcrumbs" aria-label="Breadcrumbs">
			<i class="icon folder" aria-hidden="true"></i>
			<ol>
				<li><a href="{{ SITE_URL }}{% url 'forum_index' %}">Forum</a></li>
				<li><a class="p-category" href="{{ SITE_URL }}{% url 'forum_index' %}?category={{ thread.category }}">{{ thread.get_category_display }}</a></li>
			</ol>
		</nav>
		<div class="user p-author h-card" itemprop="author" itemscope itemtype="https://schema.org/Person">
			<i class="icon person" aria-hidden="true"></i>
			By <a class="p-name u-url" itemprop="url" href="{{ SITE_URL }}{% url 'forum_user' thread.author.username %}"><span itemprop="name">{{ thread.author.username }}</span></a>
		</div>
		<div class="date">
			<i class="icon calendar" aria-hidden="true"></i>
			<time class="dt-published" itemprop="datePublished" datetime="{{ thread.creation_date.isoformat }}">{{ thread.creation_date|short_datetime }}</time>
		</div>
	</div>
	<div class="article-body e-content" itemprop="articleBody">{{ thread.body|linebreaks }}</div>
</article>

{% if not user.is_authenticated %}
	<div class="section transparent login-paragraph" data-nosnippet>
		To reply, <a href="{% url 'account_login' %}">log in</a> or <a href="{% url 'account_signup' %}">create an account</a>.
	</div>
{% endif %}

<section aria-label="Replies" class="replies">
	{% if page_obj.object_list %}
		<ol class="h-feed" start="{{ page_obj.start_index }}">
			{% for reply in page_obj %}
				<li class="h-entry section reply" id="reply-{{ reply.pk }}" itemprop="comment" itemscope itemtype="https://schema.org/Comment">
					<link itemprop="url" href="{{ SITE_URL }}{% url 'forum_thread' thread.pk %}#reply-{{ reply.pk }}">
					<div class="post-meta">
						<div class="user p-author h-card" itemprop="author" itemscope itemtype="https://schema.org/Person">
							<i class="icon person" aria-hidden="true"></i>
							<a rel="author" class="p-name u-url" itemprop="url" href="{{ SITE_URL }}{% url 'forum_user' reply.author.username %}"><span itemprop="name">{{ reply.author.username }}</span></a>
						</div>
						<div class="date">
							<i class="icon calendar" aria-hidden="true"></i>
							<a class="u-url" href="{{ SITE_URL }}{% url 'forum_thread' thread.pk %}#reply-{{ reply.pk }}"><time class="dt-published" itemprop="datePublished" datetime="{{ reply.creation_date.isoformat }}">{{ reply.creation_date|short_datetime }}</time></a>
						</div>
					</div>
					<div class="article-body e-content" itemprop="text">{{ reply.body|linebreaks }}</div>
				</li>
			{% endfor %}
		</ol>
	{% else %}
		<p>No replies yet.</p>
	{% endif %}
	{% include "forum/pagination.html" %}
</section>

{% if user.is_authenticated %}
	<form class="section" method="post" action="{% url 'forum_thread' thread.pk %}">
		<h2>Add a comment</h2>
		<hr>
		{% csrf_token %}
		<div class="form-group">
			<label for="{{ reply_form.body.id_for_label }}">{{ reply_form.body.label }}</label>
			{{ reply_form.body }}
			{% if reply_form.body.errors %}
				<span class="input-instructions error">{{ reply_form.body.errors|first }}</span>
			{% else %}
				<span class="input-instructions">Be kind, be helpful, and follow <a target="_blank" href="{% url 'forum_rules' %}">the rules</a>.</span>
			{% endif %}
		</div>
		<hr>
		<div class="buttons bar">
			<button type="submit" class="button primary">Submit comment</button>
		</div>
	</form>
{% endif %}
{% endblock %}

{% block jsonld %}
, {
	"@context": "https://schema.org",
	"@type": "WebPage",
	"@id": "{{ SITE_URL }}{% url 'forum_thread' thread.pk %}",
	"name": "{{ thread.title|escapejs }}",
	"breadcrumb": {
		"@type": "BreadcrumbList",
		"itemListElement": [
			{"@type": "ListItem", "position": 1, "name": "Home", "item": "{{ SITE_URL }}/"},
			{"@type": "ListItem", "position": 2, "name": "Forum", "item": "{{ SITE_URL }}{% url 'forum_index' %}"}
			{% if thread.category %},
			{"@type": "ListItem", "position": 3, "name": "{{ thread.get_category_display|escapejs }}", "item": "{{ SITE_URL }}{% url 'forum_index' %}?category={{ thread.category }}"},
			{"@type": "ListItem", "position": 4, "name": "{{ thread.title|escapejs }}", "item": "{{ SITE_URL }}{% url 'forum_thread' thread.pk %}"}
			{% else %},
			{"@type": "ListItem", "position": 3, "name": "{{ thread.title|escapejs }}", "item": "{{ SITE_URL }}{% url 'forum_thread' thread.pk %}"}
			{% endif %}
		]
	},
	"mainEntity": {
		"@type": "DiscussionForumPosting",
		"url": "{{ SITE_URL }}{% url 'forum_thread' thread.pk %}"
	},
	"publisher": {"@id": "{{ SITE_URL }}/#organization"}
}
{% endblock %}
