{% extends "forum/layout.html" %}
{% load forum_extras %}

{% block page_title %}User {{ profile_user.username }} - All About Berlin forum{% endblock %}
{% block page_description %}Threads and replies by {{ profile_user.username }} on the All About Berlin forum.{% endblock %}

{% block content %}
<article class="section h-card">
	<h1 class="p-name">{{ profile_user.username }}</h1>
	<div class="post-meta">
		<div class="date">
			<i class="icon calendar" aria-hidden="true"></i>
			<time datetime="{{ profile_user.date_joined.isoformat }}">Joined on {{ profile_user.date_joined|short_datetime }}</time>
		</div>
		<div>
			<i class="icon person" aria-hidden="true"></i>
			{{ thread_count }} thread{{ thread_count|pluralize }}, {{ post_count }} post{{ post_count|pluralize }}
		</div>
	</div>
</article>

<section class="section threads" aria-label="Threads">
	<h2>Recent discussions by {{ profile_user.username }}</h2>
	{% if threads %}
		{% include "forum/threadList.html" with threads=threads %}
	{% else %}
		<p>This user has not started any discussions.</p>
	{% endif %}
</section>

<section class="section replies" aria-label="Replies">
	<h2>Recent comments by {{ profile_user.username }}</h2>
	{% if replies %}
		<ol class="h-feed">
			{% for reply in replies %}
				<li class="h-entry reply">
					<a class="p-author h-card" hidden href="{{ SITE_URL }}{% url 'forum_user' profile_user.username %}">{{ profile_user.username }}</a>
					<div class="post-meta">
						<a class="u-url" href="{{ SITE_URL }}{% url 'forum_thread' reply.thread.pk %}#reply-{{ reply.pk }}">{{ reply.thread.title }}</a>
						<time class="dt-published" datetime="{{ reply.creation_date.isoformat }}">
							{{ reply.creation_date|short_datetime }}
						</time>
					</div>
					<div class="article-body e-content">{{ reply.body|linebreaks }}</div>
				</li>
			{% endfor %}
		</ol>
	{% else %}
		<p>This user has not replied to any discussions.</p>
	{% endif %}
</section>
{% endblock %}

{% block jsonld %}
, {
	"@context": "https://schema.org",
	"@type": "ProfilePage",
	"dateCreated": "{{ profile_user.date_joined.isoformat }}",
	"mainEntity": {
		"@type": "Person",
		"name": "{{ profile_user.username|escapejs }}",
		"identifier": "{{ profile_user.username|escapejs }}",
		"url": "{{ SITE_URL }}{% url 'forum_user' profile_user.username %}",
		"interactionStatistic": [
			{
				"@type": "InteractionCounter",
				"interactionType": "https://schema.org/WriteAction",
				"userInteractionCount": {{ thread_count|add:post_count }}
			}
		]
	}
}
, {
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
		{"@type": "ListItem", "position": 1, "name": "Home", "item": "{{ SITE_URL }}/"},
		{"@type": "ListItem", "position": 2, "name": "Forum", "item": "{{ SITE_URL }}{% url 'forum_index' %}"},
		{"@type": "ListItem", "position": 3, "name": "{{ profile_user.username|escapejs }}", "item": "{{ SITE_URL }}{% url 'forum_user' profile_user.username %}"}
	]
}
{% endblock %}
