django-allauth~=65.13
django_countries~=9.0
djangorestframework~=3.18
django~=6.1
email-validator~=2.3
gunicorn~=26.2
Jinja2~=3.1
Markdown==3.5.2
meilisearch~=0.36
nh3
python-dateutil~=2.9
requests~=2.34
websockets~=17.1