django-allauth~=65.19
django_countries~=9.1
djangorestframework~=3.18
django~=6.1
email-validator~=2.3
gunicorn~=26.2
Jinja2~=3.1
Markdown==3.10.3
meilisearch~=0.43
nh3
python-dateutil~=2.9
requests~=2.34
websockets~=17.1