{% extends "tests/components/entry.html.jinja" %}

{% block component %}
	{% document
		name_en="Registration of a residence",
		name_de="Anmeldung einer Wohnung",
		file_en="anmeldung-form-en.pdf",
		file_de="anmeldung-form-de.pdf"
	%}
{% endblock %}
