{% extends "_layout.html" %}
{% set index_in_search_engines = false %}

{% block content %}
	<h1>Component test</h1>
	<div class="article-body glossary-links">
		{% block component %}{% endblock %}
	</div>
{% endblock %}