{% extends "tests/components/entry.html.jinja" %}

{% queueJs %}
	import Vue from '/js/vue/vue.mjs';
	import Recommended from '/js/vue/components/recommended.mjs';

	new Vue({
		el: document.querySelector('main .article-body'),
		components: {
			Recommended
		}
	});
{% endQueueJs %}

{% block component %}
	<p>Recommended option <recommended></recommended></p>
{% endblock %}