<p>Hi there,</p>

<p>A few months ago, you gave us feedback about your citizenship application.</p>

<p>This is the information you gave us:</p>

<ul>
	<li>Application date: {{ message.feedback.application_date|date:"F j, Y" }}</li>
	<li>First Ausländerbehörde response: {% if message.feedback.first_response_date %}{{ message.feedback.first_response_date|date:"F j, Y" }}{% else %}Missing{% endif %}</li>
	<li>Appointment date: {% if message.feedback.appointment_date %}{{ message.feedback.appointment_date|date:"F j, Y" }}{% else %}Missing{% endif %}</li>
</ul>

<p><strong>If you became a citizen</strong>, can you <a href="https://allaboutberlin.com/guides/immigration-office/wait-times?utm_source=email_reminder#feedbackKey={{ message.feedback.modification_key }}~CITIZENSHIP">complete your feedback</a>? It takes a minute, and it will help thousands of people.</p>

<p><strong>If you are still waiting</strong>, you can <a href="https://allaboutberlin.com/guides/immigration-office/lawsuit">sue the immigration office</a>. It sometimes speeds things up.</p>

<p>Kind regards,<br>Nicolas Bouliane, All About Berlin</p>

<hr>
<p><small>You received this email because you gave feedback about your citizenship application. <a href="https://allaboutberlin.com/newsletter?utm_source=email_reminder">Subscribe to the monthly newsletter</a> to get Berlin tips and updates.</small></p>