<p>Hi {{ message.case.name|default:"there" }},</p>

<p>You have asked Artjom about suing the immigration office. He will reply within 1 business day. If you don't get a response, check your spam folder.</p>

<p>Kind regards,<br>Nicolas Bouliane, All About Berlin</p>

<hr>
<p><small>You received this email because you used the contact form on All About Berlin. <a href="https://allaboutberlin.com/newsletter?utm_source=email_reminder">Subscribe to the monthly newsletter</a> to get Berlin tips and updates.</small></p>
