{% extends "_layout.html" %}
{% set metatitle = '{{ page_title|default:"Forum" }}'|safe %}
{% set metadescription = "Discuss life in Berlin with other people who live there." %}

{% block postHead %}
	{{ super() }}
	<meta name="robots" content="noindex">
{% endblock %}

{% block extraScss %}
	{% include "css/components/forum.scss" %}
{% endblock %}

{% block main %}
	<main aria-label="Main page">
		{% raw %}{{ content|safe }}{% endraw %}
	</main>
{% endblock %}
