{% extends "guides/entry.html.jinja" %}
{% set entry = entries['guides/first-bank-account-in-germany.md'] %} 

{% block main %}
	{% set id = 'todo' %}
	<main aria-label="Main page">

		<article class="section">
			<h1>{{ entry.title }}</h1>
			{% include "_blocks/postMeta.html" %}
			{% with entry=entry, showRelatedEntriesLink=related_collections|length %}
				{% raw %}
				<div class="article-body">
					<div class="bank-comparator">
						<h2>Bank picker</h2>
						<div class="filters">
							<div class="tags">
								<button @click="showFilters=!showFilters" class="primary"><i class="icon filter"></i> {{ showFilters ? 'Hide filters' : 'Filter banks' }}</button>
								<tag :list="selectedFilters" v-for="filter in selectedFilters" :key="filter">{{ filter }}</tag>
								<tag :list="selectedFilters" v-for="filter in suggestedFilters" :key="filter">{{ filter }}</tag>
							</div>
							<template v-if="showFilters">
								<div class="form-group">
									<span class="label">Bank country</span>
									<div class="input-group tags">
										<tag :list="selectedFilters">Germany</tag>
										<tag :list="selectedFilters">France</tag>
										<tag :list="selectedFilters">United Kingdom</tag>
									</div>
								</div>
								<div class="form-group">
									<span class="label">Language</span>
									<div class="input-group tags">
										<tag :list="selectedFilters" v-for="lang in allLanguages" :key="lang">{{lang}}</tag>
									</div>
								</div>
								<div class="form-group">
									<span class="label">Payment methods</span>
									<div class="input-group tags">
										<tag :list="selectedFilters" v-for="method in allPaymentMethods" :key="method">{{method}}</tag>
									</div>
								</div>
								<div class="form-group">
									<span class="label">Features</span>
									<div class="input-group tags">
										<tag :list="selectedFilters">No monthly fee</tag>
										<tag :list="selectedFilters">No ATM fee</tag>
										<tag :list="selectedFilters">Student account</tag>
										<tag :list="selectedFilters">Blocking account</tag>
										<tag :list="selectedFilters">German IBAN</tag>
									</div>
								</div>
								<div class="form-group">
									<label :for="uid('nationality')">Nationality</label>
									<div class="input-group">
										<select :id="uid('nationality')" v-model="nationality">
											<option value="" disabled selected hidden>Choose a country</option>
											<option value="">Unknown</option>
											<option disabled>──────────</option>
											<option v-for="country in sortedCountryList" :key="country[0]" :value="country[0]">{{ country[1] }}</option>
										</select>
									</div>
								</div>
								<div class="form-group" v-if="nationality != 'DE'">
									<span class="label">Missing documents</span>
									<div class="input-group tags">
										<tag :list="selectedFilters">No Anmeldung</tag>
										<tag :list="selectedFilters">No residence permit</tag>
										<tag :list="selectedFilters">No permanent residence</tag>
										<tag :list="selectedFilters">No EU citizenship</tag>
									</div>
								</div>
								<hr>
							</template>
						</div>
						<ul class="bank-options">
							<li class="bank" v-for="bank in sortedBanks" :key="bank.name">
								<img :src="bank.logo">
								<h3>
									<a :href="bank.url" target="_blank">{{ bank.name }}</a>
								</h3>
								<div class="actions">
									<a v-if="!bank.hidden && !bank.saved" @click="bank.saved = !bank.saved">{% endraw %}{% include '_css/icons/star.svg' %}{% raw %} Save</a>
									<a v-if="!bank.hidden && bank.saved" @click="bank.saved = !bank.saved">{% endraw %}{% include '_css/icons/star-filled.svg' %}{% raw %} Saved</a>
									<a v-if="!bank.saved" @click="bank.hidden = !bank.hidden">{{ bank.hidden ? 'Unhide' : 'Hide' }}</a>
								</div>
								<div class="tags">
									<tag :list="selectedFilters" icon="location">
										{{ country(bank.country) }}
									</tag>
									<tag :list="selectedFilters" v-for="language in relevantLanguagesList(bank.languages)" :key="language">{{ language }}</tag>
									<tag :list="selectedFilters" v-for="method in relevantPaymentMethods(bank)" :key="method">{{ method }}</tag>
								</div>
								<ul class="accounts">
									<li v-for="(account, accountName) in bank.accountTypes" :key="bank.name + accountName">
										<h4>
											<a :href="account.url" target="_blank">{{ accountName }} account</a>
										</h4>
										<p v-if="account.description" v-html="account.description"></p>
										<div class="costs">
											<details>
												<summary class="price">
													Monthly fee
													<output><eur :amount="account.monthlyFee"></eur></output>
												</summary>
											</details>
											<details>
												<summary class="price">
													Card fee
													<output v-if="account.creditCardOneTimeFee">one time {{ formatCurrency(account.creditCardOneTimeFee) }}</output>
													<output v-if="!account.creditCardOneTimeFee"><eur :amount="account.creditCardMonthlyFee"></eur></output>
												</summary>
												<p v-html="account.creditCardFeeExplanation"></p>
											</details>
											<details>
												<summary class="price">
													Withdrawal fee
													<output><eur :amount="account.atmFee"></eur></output>
												</summary>
												<p v-html="account.atmFeeExplanation"></p>
											</details>
											<details>
												<summary class="price">
													Interest rate
													<output>5%</output>
												</summary>
												<p>Every year, you earn 5% interest on the money in your bank account.</p>
											</details>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				{% endraw %}
			{% endwith %}
		</article>
	</main>

	<div class="sidebar no-print" aria-hidden="true">
		{% with entry=entry, showScrollToTop=true, showSupportLink=true, showRelatedEntriesLink=related_collections|length %}
			{% include '_blocks/tableOfContents.html' %}
		{% endwith %}
	</div>
	{% include "_js/sidebar.js" %}
{% endblock %}

{% include '_js/countries.js' %}
{% include '_js/currency.js' %}
{% include '_js/vue.js' %}
{% include '_js/vue/eur.js' %}
{% include '_js/vue/glossary.js' %}
{% include '_js/vue/uniqueIdsMixin.js' %}

{% js %}
const languageMap = {
	EN: 'English',
	DE: 'German',
	FR: 'French',
	ES: 'Spanish',
	IT: 'Italian',
};

Vue.component('tag', {
	props: {
		list: Array,
		icon: String,
	},
	computed: {
		tag() {
			return this.$slots.default[0].text.trim();
		},
		isActive(){
			return this.list.includes(this.tag);
		}
	},
	methods: {
		toggle() {
			if(this.isActive){
				this.list.splice(this.list.indexOf(this.tag), 1);
			}
			else{
				this.list.push(this.tag);
			}
		},
	},
	template: `
	<button :class="{'active': isActive}" @click="toggle">
		<i class="icon" :class="icon" v-if="icon"></i>
		<slot></slot>
	</button>`,
});

document.querySelectorAll('.bank-comparator').forEach(el => new Vue({
	el: el,
	mixins: [uniqueIdsMixin],
	data() {
		return {
			banks: {
				'Commerzbank': {
					hidden: false,
					saved: false,
					country: 'DE',
					languages: ['DE', 'EN'],
					logo: '/staticimages/banks/commerzbank.png',
					url: '/out/commerzbank',
					accountTypes: {
						'Basic': {
							description: null,
							atmFee: 99,
							atmFeeExplanation: 'Free withdrawals from Cash Group ATMs.',
							creditCardMonthlyFee: 3.9,
							creditCardFeeExplanation: 'Free virtual card for online shopping. 3.90 € for a plastic card.',
							monthlyFee: 0,
							paymentMethods: ['Girocard', 'Apple Pay', 'Google Pay'],
							url: '/out/commerzbank',
						},
						'Klassik': {
							description: null,
							atmFee: 99,
							atmFeeExplanation: 'Free withdrawals from Cash Group ATMs.',
							creditCardMonthlyFee: 0,
							monthlyFee: 6.9,
							paymentMethods: ['Girocard', 'MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/commerzbank',
						},
					}
				},
				'N26': {
					hidden: false,
					saved: false,
					logo: '/staticimages/banks/n26.png',
					country: 'DE',
					languages: ['DE', 'EN', 'FR', 'ES', 'IT'],
					logo: '/staticimages/banks/n26.png',
					url: '/out/n26-plans',
					accountTypes: {
						'Standard': {
							description: null,
							atmFee: 0,
							atmFeeExplanation: '3 free withdrawals per month, then 2 € per withdrawal. You can use any ATM.',
							creditCardOneTimeFee: 10,
							creditCardMonthlyFee: 0,
							creditCardFeeExplanation: 'Free virtual card for online shopping. 10 € to get a plastic card.',
							monthlyFee: 0,
							paymentMethods: ['MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/n26',
						},
						'Smart': {
							description: "Comes with travel insurance and free donuts.",
							atmFee: 0,
							atmFeeExplanation: '5 free withdrawals per month, then 2 € per withdrawal. You can use any ATM.',
							creditCardMonthlyFee: 0,
							monthlyFee: 4.9,
							paymentMethods: ['MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/n26',
						},
						'You': {
							description: null,
							atmFee: 0,
							atmFeeExplanation: '5 free withdrawals per month, then 2 € per withdrawal. You can use any ATM.',
							creditCardMonthlyFee: 0,
							monthlyFee: 9.9,
							paymentMethods: ['MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/n26',
						},
						'Metal': {
							description: null,
							atmFee: 0,
							atmFeeExplanation: '8 free withdrawals per month, then 2 € per withdrawal. You can use any ATM.',
							creditCardMonthlyFee: 0,
							monthlyFee: 16.9,
							paymentMethods: ['MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/n26',
						},
					},
				},
			},
			showFilters: false,
			selectedFilters: [],
			isStudent: false,
			nationality: '',
			sortedCountryList: countries.getSortedList(),
			formatCurrency,
		};
	},
	computed: {
		sortedBanks(){
			return Object.entries(this.banks).map(([bankName, bank]) => {
				let score = 0;
				score -= bank.hidden ? 1000 : 0;
				score += bank.saved ? 1000 : 0;

				bank.name = bankName;
				bank.score = score;
				return bank;
			}).sort((a, b) => b.score - a.score);
		},
		allLanguages(){
			// All languages offered, sorted by frequency
			const bankCount = Object.values(this.banks)
				.reduce((uniqueLanguages, bank) => {
					bank.languages.forEach(languageCode => {
						uniqueLanguages[languageCode] = (uniqueLanguages[languageCode] || 0) + 1;
					})
					return uniqueLanguages;
				}, {});

			delete bankCount.DE;

			return Object.entries(bankCount)
				.sort((a, b) => b[1] - a[1])
				.map(([languageCode, count]) => languageMap[languageCode]);
		},
		allPaymentMethods(){
			// All payment methods offered, sorted by frequency
			const paymentMethodCount = Object.values(this.banks)
				.reduce((uniquePaymentMethods, bank) => {
					Object.values(bank.accountTypes).forEach(account => {
						account.paymentMethods.forEach(method => {
							uniquePaymentMethods[method] = (uniquePaymentMethods[method] || 0) + 1
						});
					});
					return uniquePaymentMethods;
				}, {});

			return Object.entries(paymentMethodCount)
				.sort((a, b) => b[1] - a[1])
				.map(([paymentMethod, count]) => paymentMethod);
		},
		suggestedFilters(){
			const filterList = [
				'English',
				'No Anmeldung',
				'No monthly fee',
				'Girocard'
			];

			if (this.selectedFilters.length < filterList.length){
				const unusedFilters = filterList.filter(f => !this.selectedFilters.includes(f));
				return unusedFilters.slice(
					Math.max(filterList.length - this.selectedFilters.length, 0) * -1
				)
			}
			return [];
		}
	},
	methods: {
		country(countryCode){
			return countries.all[countryCode];
		},
		relevantLanguagesList(availableLanguages) {
			const languages = navigator.languages
				.map(userLocale => userLocale.split('-')[0].toUpperCase())
				.reduce((selectedLanguages, userLanguage) => {
					if(availableLanguages.includes(userLanguage) && !selectedLanguages.includes(userLanguage)) {
						selectedLanguages.push(userLanguage);
					}
					return selectedLanguages;
				}, [])
				.filter(l => l !== 'DE')
				.map(l => languageMap[l]);
			return languages;
		},
		relevantPaymentMethods(bank) {
			const uniquePaymentMethods = new Set();
			Object.values(bank.accountTypes).forEach(account => {
				account.paymentMethods.forEach(method => uniquePaymentMethods.add(method));
			});
			return Array.from(uniquePaymentMethods);
		},
	}
}));
{% endjs %}