{% extends "guides/entry.html.jinja" %}
{% set entry = entries['guides/first-bank-account-in-germany.md'] %} 

{% block main %}
	{% set id = 'todo' %}
	<main aria-label="Main page">
		{% block precontent %}{% endblock %}
		<article class="section">
			<h1>{{ entry.title }}</h1>
			{% include "_blocks/postMeta.html" %}
			<div class="">
			{% raw %}
				<div class="bank-comparator">
					<h2>Bank picker</h2>
					<div class="filters">
						<div class="form-group">
							<span class="label">What do you need?</span>
							<div class="input-group vertical">
								<label class="checkbox">
									<input type="checkbox"> <span>Free account<br><small>No monthly fees</small></span>
								</label>
								<label class="checkbox">
									<input type="checkbox"> <span>Free ATM withdrawals<br><small>No fees when you withdraw cash</small></span>
								</label>
								<a href="#" v-if="!showFilters" @click.prevent="showFilters = true">
									<i class="icon filter"></i>
									Show more filters
								</a>
								<template v-if="showFilters">
									<label class="checkbox">
										<input type="checkbox"> <span>Free Visa or MasterCard</span>
									</label>
									<label class="checkbox">
										<input type="checkbox"> <span><glossary>Girocard</glossary> / EC Karte<br><small>Popular payment method in Germany</small></span>
									</label>
									<label class="checkbox">
										<input type="checkbox"> <span>Apple Pay or Google Pay<br><small>Pay with your phone or smart watch</small></span>
									</label>
									<label class="checkbox">
										<input type="checkbox"> <span>A bank with physical branches<br><small>Go to the bank in person</small></span>
									</label>
								</template>
							</div>
						</div>
						<div class="form-group">
							<span class="label">What's your status?</span>
							<div class="input-group vertical">
								<label class="checkbox">
									<input v-model="immigrationStatus" value="citizen" type="radio" name="immigration-status"> I'm a EU citizen
								</label>
								<label class="checkbox">
									<input v-model="immigrationStatus" value="permanent-resident" type="radio" name="immigration-status"> I'm a permanent resident
								</label>
								<label class="checkbox">
									<input v-model="immigrationStatus" value="resident" type="radio" name="immigration-status"> I have a residence permit
								</label>
								<label class="checkbox">
									<input v-model="immigrationStatus" value="other" type="radio" name="immigration-status"> Other
								</label>
							</div>
						</div>
						<div class="form-group" v-if="immigrationStatus !== 'citizen'">
							<label for="nationality-{% endraw %}{{ id }}{% raw %}">Nationality</label>
							<div class="input-group">
								<select id="nationality-{% endraw %}{{ id }}{% raw %}">
									<option value="" disabled selected hidden>Choose a country</option>
									<option v-for="country in sortedCountryList" :key="country[0]" :value="country[0]">{{ country[1] }}</option>
								</select>
								<span class="input-instructions">Some banks can't verify foreign passports</span>
							</div>
						</div>
						<div class="form-group">
							<span class="label">Occupation</span>
							<div class="checkbox-group">
								<label class="checkbox">
									<input v-model="isStudent" type="checkbox" name="occupation">
									<span>I'm a student<br><small>Some banks have free accounts for students</small></span>
								</label>
							</div>
						</div>
					</div>

					<ul class="bank-options">
						<li v-for="account in accounts" :key="account.key" v-if="account.score >= 0 || showFilteredAccounts">
							<img :src="account.logo">
							<h3>
								<a :href="account.url" target="_blank">{{ account.bankName }} {{ account.name }}</a>
							</h3>
							<div class="actions">
								<a v-if="!account.hidden && !account.saved" @click="toggleStatus(account, 'saved')">{% endraw %}{% include '_css/icons/star.svg' %}{% raw %} Save</a>
								<a v-if="!account.hidden && account.saved" @click="toggleStatus(account, 'saved')">{% endraw %}{% include '_css/icons/star-filled.svg' %}{% raw %} Saved</a>
								<a v-if="!account.saved" @click="toggleStatus(account, 'hidden')">{{ account.hidden ? 'Unhide' : 'Hide' }}</a>
							</div>
							<div class="costs">
								<details>
									<summary class="price">
										Monthly fee
										<output><eur :amount="account.monthlyFee"></eur></output>
									</summary>
								</details>
								<details>
									<summary class="price">
										Payment card fee
										<output v-if="account.creditCardOneTimeFee">one time {{ formatCurrency(account.creditCardOneTimeFee) }}</output>
										<output v-if="!account.creditCardOneTimeFee"><eur :amount="account.creditCardMonthlyFee"></eur></output>
									</summary>
									<div v-html="account.creditCardFeeExplanation"></div>
								</details>
								<details>
									<summary class="price">
										Cash withdrawal fee
										<output><eur :amount="account.atmFee"></eur></output>
									</summary>
									<div v-html="account.atmFeeExplanation"></div>
								</details>
							</div>
							<ul class="features">
								<li class="pro" v-html="relevantLanguagesList(account.languages)"></li>
								<li class="pro" v-html="account.paymentMethods.join(', ')"></li>
							</ul>
						</li>
					</ul>

					<a v-if="filteredAccounts.length > 0" @click.prevent="showFilteredAccounts = !showFilteredAccounts">{{ showFilteredAccounts ? 'Hide' : 'Show' }} {{ filteredAccounts.length }} hidden banks</a>
				</div>
			{% endraw %}
			</div>
		</article>
	</main>
	
	<div class="sidebar no-print" aria-hidden="true">
		{% with entry=entry, showScrollToTop=true, showSupportLink=true, showRelatedEntriesLink=related_collections|length %}
			{% include '_blocks/tableOfContents.html' %}
		{% endwith %}
	</div>
	{% include "_js/sidebar.js" %}
{% endblock %}

{% include '_js/countries.js' %}
{% include '_js/currency.js' %}
{% include '_js/vue.js' %}
{% include '_js/vue/eur.js' %}
{% include '_js/vue/glossary.js' %}
{% js %}
const languageMap = {
	en: 'English',
	de: 'German',
	fr: 'French',
	es: 'Spanish',
	it: 'Italian',
};

document.querySelectorAll('.bank-comparator').forEach(el => new Vue({
		el: el,
		data: function() {
			return {
				banks: {
				'Commerzbank': {
					languages: ['de', 'en'],
					logo: '/staticimages/banks/commerzbank.png',
					url: '/out/commerzbank',
					accountTypes: {
						'Basic': {
							atmFee: 99,
							atmFeeExplanation: 'Free withdrawals on Cash Group ATMs.',
							creditCardMonthlyFee: 3.9,
							creditCardFeeExplanation: 'Free virtual card for online shopping. 3.90 € for a plastic card.',
							monthlyFee: 0,
							paymentMethods: ['Girocard', 'Apple Pay', 'Google Pay'],
							url: '/out/commerzbank',
						},
						'Klassik': {
							atmFee: 99,
							atmFeeExplanation: 'Free withdrawals on Cash Group ATMs.',
							creditCardMonthlyFee: 0,
							monthlyFee: 6.9,
							paymentMethods: ['Girocard', 'MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/commerzbank',
						},
					}
				},
				'N26': {
					logo: '/staticimages/banks/n26.png',
					languages: ['de', 'en', 'fr', 'es', 'it'],
					logo: '/staticimages/banks/n26.png',
					url: '/out/n26-plans',
					accountTypes: {
						'Standard': {
							atmFee: 0,
							atmFeeExplanation: '3 free withdrawals per month, then 2 € per withdrawal. You can use any ATM.',
							creditCardOneTimeFee: 10,
							creditCardMonthlyFee: 0,
							creditCardFeeExplanation: 'Free virtual card for online shopping. 10 € to get a plastic card.',
							monthlyFee: 0,
							paymentMethods: ['MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/n26',
						},
						'Smart': {
							atmFee: 0,
							atmFeeExplanation: '5 free withdrawals per month, then 2 € per withdrawal. You can use any ATM.',
							creditCardMonthlyFee: 0,
							monthlyFee: 4.9,
							paymentMethods: ['MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/n26',
						},
						'You': {
							atmFee: 0,
							atmFeeExplanation: '5 free withdrawals per month, then 2 € per withdrawal. You can use any ATM.',
							creditCardMonthlyFee: 0,
							monthlyFee: 9.9,
							paymentMethods: ['MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/n26',
						},
						'Metal': {
							atmFee: 0,
							atmFeeExplanation: '8 free withdrawals per month, then 2 € per withdrawal. You can use any ATM.',
							creditCardMonthlyFee: 0,
							monthlyFee: 16.9,
							paymentMethods: ['MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/n26',
						},
					},
				},
				},
				showFilters: false,
				showFilteredAccounts: false,
				isStudent: false,
				immigrationStatus: 'other',
				sortedCountryList: countries.getSortedList(),
			};
		},
		computed: {
			accounts() {
				return Object.entries(this.banks).reduce((allAccounts, [bankName, bank]) => {
					const accountTypes = Object.entries(bank.accountTypes).map(([accountName, account]) => {
						let score = 0;
						if(account.hidden){
							score -= 100;
						}
						else if(account.saved){
							score += 100;
						}

						return {
							key: bankName + accountName,
							name: accountName,
							bankName: bankName,
							...bank,
							...account,
							score: score,
						}
					});
					console.log(...accountTypes)
					allAccounts.push(...accountTypes)
					return allAccounts;
				}, [])
				.sort((a, b) => {
					return b.score - a.score;
				});
			},
			filteredAccounts(){
				return this.accounts.filter(a => a.score < 0)
			},
		},
		methods: {
		relevantLanguagesList(availableLanguages) {
			const relevantLanguages = navigator.languages
				.map(userLocale => userLocale.split('-')[0])
				.reduce((selectedLanguages, userLanguage) => {
					if(availableLanguages.includes(userLanguage) && !selectedLanguages.includes(userLanguage)) {
					selectedLanguages.push(userLanguage);
					}
					return selectedLanguages;
				}, []);

			const relevantLanguagesString = relevantLanguages.map(l => languageMap[l]).join(', ');
			const extraLanguageCount = availableLanguages.length - relevantLanguages.length;
			return relevantLanguagesString + (extraLanguageCount ? ` and ${extraLanguageCount} more` : '');
		},
		toggleStatus(account, field){
			Object.entries(this.banks).forEach(([bankName, bank]) => {
				if(bank.accountTypes[account.name]) {
					Vue.set(bank.accountTypes[account.name], field, !account[field]);
				}
			})
		}
	}
}));
{% endjs %}