{% extends "guides/entry.html.jinja" %}
{% set entry = entries['guides/first-bank-account-in-germany.md'] %} 

{% block main %}
	{% set id = 'todo' %}
	<main aria-label="Main page">

		<article class="section">
			<h1>{{ entry.title }}</h1>
			{% include "_blocks/postMeta.html" %}
			{% with entry=entry, showRelatedEntriesLink=related_collections|length %}
				{% raw %}
				<div class="article-body">
					<div class="bank-comparator">
						<h2>Bank picker</h2>
						<div class="filters">
							<div class="form-group">
								<span class="label">What do you need?</span>
								<div class="input-group vertical">
									<label class="checkbox">
										<input type="checkbox"> <span>Free account<br><small>No monthly fees</small></span>
									</label>
									<label class="checkbox">
										<input type="checkbox"> <span>Free ATM withdrawals<br><small>No fees when you withdraw cash</small></span>
									</label>
									<a href="#" v-if="!showFilters" @click.prevent="showFilters = true">
										<i class="icon filter"></i>
										Show more filters
									</a>
									<template v-if="showFilters">
										<label class="checkbox">
											<input type="checkbox"> <span>Free Visa or MasterCard</span>
										</label>
										<label class="checkbox">
											<input type="checkbox"> <span><glossary>Girocard</glossary> / EC Karte<br><small>Popular payment method in Germany</small></span>
										</label>
										<label class="checkbox">
											<input type="checkbox"> <span>Apple Pay or Google Pay<br><small>Pay with your phone or smart watch</small></span>
										</label>
										<label class="checkbox">
											<input type="checkbox"> <span>A bank with physical branches<br><small>Go to the bank in person</small></span>
										</label>
									</template>
								</div>
							</div>
							<div class="form-group">
								<label :for="uid('immigrationStatus')">What's your status?</label>
								<div class="input-group vertical">
									<select :id="uid('immigrationStatus')" v-model="immigrationStatus">
										<option value="" disabled selected hidden>Choose your immigration status</option>
										<option value="citizen"> EU citizen
										<option value="permanent-resident"> Permanent resident
										<option value="resident"> On a residence permit
										<option value="other"> Other
									</select>
								</div>
							</div>
							<div class="form-group" v-if="immigrationStatus !== 'citizen'">
								<label :for="uid('nationality')">Nationality</label>
								<div class="input-group">
									<select :id="uid('nationality')">
										<option value="" disabled selected hidden>Choose a country</option>
										<option value="">Unknown</option>
										<option disabled>──────────</option>
										<option v-for="country in sortedCountryList" :key="country[0]" :value="country[0]">{{ country[1] }}</option>
									</select>
									<span class="input-instructions">Some banks can't verify foreign passports</span>
								</div>
							</div>
							<div class="form-group">
								<span class="label">Occupation</span>
								<div class="checkbox-group">
									<label class="checkbox">
										<input v-model="isStudent" type="checkbox" name="occupation">
										<span>I'm a student<br><small>Some banks have free accounts for students</small></span>
									</label>
								</div>
							</div>
						</div>

						<ul class="bank-options">
							<li class="bank" v-for="(bank, bankName) in banks" v-if="!bank.hidden" :key="bankName">
								<img :src="bank.logo">
								<h3>
									<a :href="bank.url" target="_blank">{{ bankName }}</a>
								</h3>
								<div class="actions">
									<a v-if="!bank.hidden && !bank.saved" @click="bank.hidden = !bank.hidden">{% endraw %}{% include '_css/icons/star.svg' %}{% raw %} Save</a>
									<a v-if="!bank.hidden && bank.saved" @click="bank.hidden = !bank.hidden">{% endraw %}{% include '_css/icons/star-filled.svg' %}{% raw %} Saved</a>
									<a v-if="!bank.saved" @click="bank.hidden = !bank.hidden">{{ bank.hidden ? 'Unhide' : 'Hide' }}</a>
								</div>
								<ul class="features">
									<li class="pro" v-html="relevantLanguagesList(bank.languages)"></li>
									<li class="pro" v-html="relevantPaymentMethods(bank).join(', ')"></li>
								</ul>
								<ul class="accounts">
									<li v-for="(account, accountName) in bank.accountTypes" :key="bankName + accountName">
										<h4>
											<a :href="account.url" target="_blank">{{ accountName }} account</a>
										</h4>
										<p v-if="account.description" v-html="account.description"></p>
										<div class="costs">
											<details>
												<summary class="price">
													Monthly fee
													<output><eur :amount="account.monthlyFee"></eur></output>
												</summary>
											</details>
											<details>
												<summary class="price">
													Card fee
													<output v-if="account.creditCardOneTimeFee">one time {{ formatCurrency(account.creditCardOneTimeFee) }}</output>
													<output v-if="!account.creditCardOneTimeFee"><eur :amount="account.creditCardMonthlyFee"></eur></output>
												</summary>
												<div v-html="account.creditCardFeeExplanation"></div>
											</details>
											<details>
												<summary class="price">
													Withdrawal fee
													<output><eur :amount="account.atmFee"></eur></output>
												</summary>
												<div v-html="account.atmFeeExplanation"></div>
											</details>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				{% endraw %}
			{% endwith %}
		</article>
	</main>

	<div class="sidebar no-print" aria-hidden="true">
		{% with entry=entry, showScrollToTop=true, showSupportLink=true, showRelatedEntriesLink=related_collections|length %}
			{% include '_blocks/tableOfContents.html' %}
		{% endwith %}
	</div>
	{% include "_js/sidebar.js" %}
{% endblock %}

{% include '_js/countries.js' %}
{% include '_js/currency.js' %}
{% include '_js/vue.js' %}
{% include '_js/vue/eur.js' %}
{% include '_js/vue/glossary.js' %}
{% include '_js/vue/uniqueIdsMixin.js' %}

{% js %}
const languageMap = {
	en: 'English',
	de: 'German',
	fr: 'French',
	es: 'Spanish',
	it: 'Italian',
};

document.querySelectorAll('.bank-comparator').forEach(el => new Vue({
	el: el,
	mixins: [uniqueIdsMixin],
	data: function() {
		return {
			banks: {
				'Commerzbank': {
					hidden: false,
					languages: ['de', 'en'],
					logo: '/staticimages/banks/commerzbank.png',
					url: '/out/commerzbank',
					accountTypes: {
						'Basic': {
							description: null,
							atmFee: 99,
							atmFeeExplanation: 'Free withdrawals on Cash Group ATMs.',
							creditCardMonthlyFee: 3.9,
							creditCardFeeExplanation: 'Free virtual card for online shopping. 3.90 € for a plastic card.',
							monthlyFee: 0,
							paymentMethods: ['Girocard', 'Apple Pay', 'Google Pay'],
							url: '/out/commerzbank',
						},
						'Klassik': {
							description: null,
							atmFee: 99,
							atmFeeExplanation: 'Free withdrawals on Cash Group ATMs.',
							creditCardMonthlyFee: 0,
							monthlyFee: 6.9,
							paymentMethods: ['Girocard', 'MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/commerzbank',
						},
					}
				},
				'N26': {
					hidden: false,
					logo: '/staticimages/banks/n26.png',
					languages: ['de', 'en', 'fr', 'es', 'it'],
					logo: '/staticimages/banks/n26.png',
					url: '/out/n26-plans',
					accountTypes: {
						'Standard': {
							description: null,
							atmFee: 0,
							atmFeeExplanation: '3 free withdrawals per month, then 2 € per withdrawal. You can use any ATM.',
							creditCardOneTimeFee: 10,
							creditCardMonthlyFee: 0,
							creditCardFeeExplanation: 'Free virtual card for online shopping. 10 € to get a plastic card.',
							monthlyFee: 0,
							paymentMethods: ['MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/n26',
						},
						'Smart': {
							description: "Comes with travel insurance and free donuts.",
							atmFee: 0,
							atmFeeExplanation: '5 free withdrawals per month, then 2 € per withdrawal. You can use any ATM.',
							creditCardMonthlyFee: 0,
							monthlyFee: 4.9,
							paymentMethods: ['MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/n26',
						},
						'You': {
							description: null,
							atmFee: 0,
							atmFeeExplanation: '5 free withdrawals per month, then 2 € per withdrawal. You can use any ATM.',
							creditCardMonthlyFee: 0,
							monthlyFee: 9.9,
							paymentMethods: ['MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/n26',
						},
						'Metal': {
							description: null,
							atmFee: 0,
							atmFeeExplanation: '8 free withdrawals per month, then 2 € per withdrawal. You can use any ATM.',
							creditCardMonthlyFee: 0,
							monthlyFee: 16.9,
							paymentMethods: ['MasterCard', 'Apple Pay', 'Google Pay'],
							url: '/out/n26',
						},
					},
				},
			},
			showFilters: false,
			isStudent: false,
			immigrationStatus: '',
			sortedCountryList: countries.getSortedList(),
		};
	},
	computed: {
	},
	methods: {
		relevantLanguagesList(availableLanguages) {
			const relevantLanguages = navigator.languages
				.map(userLocale => userLocale.split('-')[0])
				.reduce((selectedLanguages, userLanguage) => {
					if(availableLanguages.includes(userLanguage) && !selectedLanguages.includes(userLanguage)) {
						selectedLanguages.push(userLanguage);
					}
					return selectedLanguages;
				}, []);

			const relevantLanguagesString = relevantLanguages.map(l => languageMap[l]).join(', ');
			const extraLanguageCount = availableLanguages.length - relevantLanguages.length;
			return relevantLanguagesString + (extraLanguageCount ? ` and ${extraLanguageCount} more` : '');
		},
		relevantPaymentMethods(bank) {
			const uniquePaymentMethods = new Set();
			Object.values(bank.accountTypes).forEach(account => {
				account.paymentMethods.forEach(method => uniquePaymentMethods.add(method));
			});
			return Array.from(uniquePaymentMethods);
		},
		toggleStatus(account, field){
			Object.entries(this.banks).forEach(([bankName, bank]) => {
				if(bank.accountTypes[account.name]) {
					Vue.set(bank.accountTypes[account.name], field, !account[field]);
				}
			});
		},
	}
}));
{% endjs %}