{% include '_js/letterUtils.js' %}
{% include '_js/vue.js' %}
{% include '_js/vue/letter-generator.js' %}
{% include '_js/vue/glossary.js' %}
{% include '_js/vue/uniqueIdsMixin.js' %}
{% js %}
	document.querySelectorAll('.alg-i-vorlaeufige-bewilligung').forEach(
		el => new Vue({
			el: el,
			mixins: [uniqueIdsMixin],
			data() {
				return {
					fullName: '',
					address: '',
					agenturFurArbeitAddress: '',
					recipientGender: 'man',
					recipientFirstName: '',
					recipientLastName: '',
					caseNumber: '',
					currentDate: new Date(),
				};
			},
			methods: {
				formatName,
				formatSalutations,
			}
		})
	);
{% endjs %}

<letter-generator class="alg-i-vorlaeufige-bewilligung" track-as="ALG I vorläufige Bewilligung" {% if static|default %}static{% endif %}>
{% raw %}
	<template v-slot:header>{% trans %}ALG I – Request a preliminary decision{% endtrans %}</template>

	<template v-slot:letter-recipient="{ language, stage }">
		<span class="letter-return-address" v-if="address">
			{{ fullName }}<template v-if="fullName && address">, </template>
			{{ address.replaceAll('\n', ', ') }}
		</span>

		<template v-if="formatName(recipientGender, recipientFirstName, recipientLastName, language)">
			{{ formatName(recipientGender, recipientFirstName, recipientLastName, language) }}<br>
		</template>
		<span v-html="agenturFurArbeitAddress.replaceAll('\n', '<br>')"></span>
	</template>

	<template v-slot:letter-details="{ language, stage }">
		<template v-if="language === 'en'">
			<template v-if="fullName"><strong>{% trans "Full name" %}Name{% endtrans %}:</strong> {{ fullName }}<br></template>
			<strong>Date:</strong> {{ currentDate.toLocaleDateString("{% trans "Current locale" %}en-US{% endtrans %}") }}
			<template v-if="caseNumber"><br><strong>Case number: </strong> {{ caseNumber }}</template>
		</template>
		<template v-if="language === 'de'">
			<template v-if="fullName"><strong>Name:</strong> {{ fullName }}<br></template>
			<strong>Datum:</strong> {{ currentDate.toLocaleDateString("de-DE") }}
			<template v-if="caseNumber"><br><strong>Aktenzeichen: </strong> {{ caseNumber }}</template>
		</template>
	</template>

	<template v-slot:letter-body="{ language, stage }">
		<p v-if="language === 'en'">
			<strong>{% trans %}Subject: Request for preliminary decision (ALG I){% endtrans %}</strong>
		</p>
		<p v-if="language === 'de'">
			<strong>Betreff: Antrag auf vorläufige Entscheidung (ALG I)</strong>
		</p>

		<p>{{ formatSalutations(recipientGender, recipientFirstName, recipientLastName, language) }},</p>

		<p v-if="language === 'en'">
			{% trans %}Since the processing of my application requires more time, I hereby submit an application for a provisional decision in accordance with § 328 paragraph 1 sentence 3 SGB III, i.e. a provisional grant of unemployment benefits. The requirements for my unemployment benefits claim are met with sufficient probability. I am not responsible for the circumstances that still stand in the way of an immediate final decision.{% endtrans %}
		</p>
		<p v-if="language === 'de'">
			da die Bearbeitung meines Antrages noch Zeit benötigt, stelle ich hiermit einen Antrag auf vorläufige Entscheidung nach § 328 Abs. 1 Satz 1 Nr. 3 SGB III, d.h. eine vorläufige Arbeitslosengeldgewährung. Die Voraussetzungen für meinen Arbeitslosengeldanspruch liegen mit hinreichender Wahrscheinlichkeit vor. Die Umstände, die einer sofortigen abschließenden Entscheidung noch entgegenstehen, habe ich nicht zu vertreten.
		</p>

		<p v-if="language === 'en'">
			{% trans %}According to § 328 Para. 1 Sentence 1 No. 3 SGB III, a provisional decision is to be made on application in accordance with the law, i.e. you do not have any discretion in this respect. I request that you make a decision within 3 weeks of receipt of this application.{% endtrans %}
		</p>
		<p v-if="language === 'de'">
			In den Fällen des § 328 Abs. 1 Satz 1 Nr. 3 SGB III ist auf Antrag nach der gesetzlichen Regelung vorläufig zu entscheiden, d.h. ein Ermessen steht Ihnen insoweit nicht zu. Ich bitte um Erteilung eines Leistungsbescheides binnen 3 Wochen ab Zugang dieses Antrags.
		</p>

		<p v-if="language === 'en'">
			{% trans %}Best regards{% endtrans %}<template v-if="fullName">,<br></template>
			{{ fullName }}
		</p>
		<p v-if="language === 'de'">
			Mit freundlichen Grüßen<template v-if="fullName">,<br></template>
			{{ fullName }}
		</p>
		<p class="signature" v-if="stage === 'printPreview'">
			{{ language === 'en' ? '{% trans %}Signature{% endtrans %}' : 'Unterschrift' }}
		</p>
	</template>

	<template v-slot:form>
		<div class="form-group no-print">
			<label>{% trans %}Your full name{% endtrans %}</label>
			<input type="text" v-model="fullName">
		</div>
		<div class="form-group no-print">
			<label :for="uid('address')">{% trans %}Your address{% endtrans %}</label>
			<div class="input-group">
				<textarea
					:id="uid('address')"
					v-model="address"
					class="address-input"
					placeholder="Wohnungstraße 123&#10;12345 Berlin"></textarea>
			</div>
		</div>
		<div class="form-group no-print">
			<label :for="uid('agenturFurArbeitAddress')">{% trans %}Agentur für Arbeit address{% endtrans %}</label>
			<div class="input-group">
				<textarea
					:id="uid('agenturFurArbeitAddress')"
					v-model="agenturFurArbeitAddress"
					class="address-input"
					placeholder="Agentur für Arbeit Mitte&#10;Example Straße 123&#10;12345 Berlin"></textarea>
				<br>
				<a class="input-instructions external-link" href="https://web.arbeitsagentur.de/portal/metasuche/suche/dienststellen" target="_blank">
					{% trans %}Find your Agentur für Arbeit{% endtrans %}
				</a>
			</div>
		</div>
		<div class="form-group no-print required">
			<span class="label">{% trans %}Case worker{% endtrans %}</span>
			<div class="input-group">
				<select v-model="recipientGender" autocomplete="honorific-prefix">
					<option value="man">{% trans %}Mister{% endtrans %}</option>
					<option value="woman">{% trans %}Madam{% endtrans %}</option>
					<option value="other">{% trans %}Other{% endtrans %}</option>
				</select>
				<input type="text"
					:name="uid('employer-first-name')"
					v-model="recipientFirstName"
					placeholder="{% trans %}First name{% endtrans %}"
					autocomplete="off"
					class="first-name-input">
				<input type="text"
					:name="uid('employer-last-name')"
					v-model="recipientLastName"
					placeholder="{% trans %}Last name{% endtrans %}"
					autocomplete="off"
					class="last-name-input">
				<span class="input-instructions">
					{% trans "Field description. The field ask for the case worker's name" %}This is the employee who helps you at the <glossary>Agentur für Arbeit</glossary>.{% endtrans %}
				</span>
			</div>
		</div>
		<div class="form-group no-print">
			<label :for="uid('caseNumber')">{% trans "At the Agentur für Arbeit" %}Case number{% endtrans %}</label>
			<div class="input-group">
				<input type="text" v-model="caseNumber">
				<span class="input-instructions">
					{% trans %}This helps the <glossary>Agentur für Arbeit</glossary> find your information.{% endtrans %}
				</span>
			</div>
		</div>
	</template>
{% endraw %}
</letter-generator>