body > header {
    grid-area: header;
    display: grid;
    position: relative;

    // Narrower page borders on the parent element, because nav
    // items have padding to highlight their background on hover.
    --padding-nav-item: var(--m);
    @include only-phone{
        font-size: var(--f-s);
        --padding-nav-item: var(--s);
    }

    @mixin main-nav-item{
        color: #fff;
        padding: 0 var(--padding-nav-item);
        cursor: pointer;
        background: transparent;
        &:hover{
            background-color: #fff2!important;
            text-decoration: none;
        }
    }

    // Main nav
    > nav:first-child {
        background: var(--c-highlight);

        display: flex;
        padding: 0 calc(var(--w-page-border) - var(--padding-nav-item));

        > :is(button, a, a:visited) {
            @include main-nav-item;
            white-space: nowrap;
            display: block;
            line-height: var(--h-header);

            flex: 0 0 fit-content;
            height: var(--h-header);

            @include not-phone{
                &[aria-expanded]{
                    @include expansible;
                }
                &[aria-expanded=true]{
                    background: var(--c-bg-page)!important;
                    color: var(--c-text-heading);
                    @include collapsible;
                }
            }

            &[rel=home]{  // Logo
                background: var(--i-logo) no-repeat var(--padding-nav-item) center / var(--w-logo) auto;
                font-size: var(--xl);
                padding-left: calc(var(--padding-nav-item) + var(--w-logo) + var(--s));
                line-height: var(--h-header);
                letter-spacing:-0.03em;

                // Hide "All About Berlin" in the header if it doesn't fit
                @media screen and (max-width: 720px){
                    color: transparent;
                    overflow: hidden;
                    max-width: var(--w-logo);
                    padding:0 var(--padding-nav-item);
                }
            }
        }

        // Space after logo
        // The search form is technically the next item, but is pushed to the end unless open.
        :is(a[rel=home], .search-form) + :is(a, button, .search-form:focus-within){
            margin-left: auto;
        }

        .search-form{
            order: 999;
            box-shadow: none!important;
            border: none!important;

            &:not(:focus-within){
                background-color: transparent;
                box-shadow: none;
                border-radius: 0;
                border: none;
                padding: 0;
                overflow: hidden;

                label{
                    @include main-nav-item;
                }

                input{  // It can't be hidden, because hidden elements don't get focus
                    width: 0;
                    flex: 0!important;
                }
            }

            &:focus-within {
                flex: 1 1 auto;
                align-self: center;

                ~ *{
                    display: none!important;
                }

                border-color: var(--c-highlight);
                box-shadow: var(--shadow-l), 0 0 0 1px var(--c-highlight);

                .search-results{
                    border-color: var(--c-highlight);
                    outline-color: var(--c-highlight);
                }
            }
        }
    }

    > nav.submenu{
        background: var(--c-bg-page);
        padding: var(--l) var(--w-page-border);
        width: var(--w-tablet);
        max-width: 100%;
        box-sizing: border-box;
        border: var(--b-box);
        border-top:none;
        box-shadow: var(--shadow-l);

        position: absolute;
        right:0;
        z-index: 9999;
        justify-self: flex-end;
        top: var(--h-header);

        display: grid;
        gap: var(--l);

        @include only-phone{
            border: none;
            border-bottom: var(--b-box);
        }

        &[hidden]{
            display: none;
        }

        :is(h3, h4){
            margin: 0;
        }

        p{
            font-size: var(--f-s);
            line-height: var(--line-height-label);
            color: var(--c-text-light);
            margin: 0;
        }

        ul{
            display: grid;
            gap: calc(var(--m) - var(--s) * 2);
            margin: calc(var(--s) * -1);

            li a{
                padding: var(--s);
                box-sizing: border-box;
                border: 1px solid transparent; // Changed on hover

                &:hover{
                    text-decoration: none!important;
                    @include box-clickable-hover;
                }

                width: 100%;
                height: 100%;

                display: grid;
                grid-template-columns: auto 1fr;
                gap: 0 var(--m);
                justify-items: flex-start;
                border-radius: var(--b-radius);

                svg{
                    display: block;
                    grid-row: 1 / span 999;
                    width: var(--h-icon-l);
                    padding: var(--xs);
                    aspect-ratio: 1 / 1;
                    border-radius: var(--b-radius);
                    background: var(--c-bg-image);
                    color: var(--c-text-heading);
                }

                :not(svg){
                    grid-column-start: 2;
                }

                p{
                    margin-top: var(--xs);
                }
            }
        }

        > a {
            font-weight: 600;
            border-top: var(--b-box);
            padding-top: var(--l);
            text-align: center;
        }

        @include only-phone{
            border-radius: 0;
        }
    }

    > nav {
        border-radius: 0 0 var(--b-radius) var(--b-radius);

        &:has([aria-expanded=true]){
            border-bottom-right-radius: 0;

            @mixin only-phone{
                border-bottom-left-radius: 0;
            }
        }
    }
    @include full-width-site{
        > nav:not(.submenu){
            border-radius: 0!important;
        }

        // Remove gap before content
        + main > :is(article):first-child{
            margin-top: calc(var(--m) * -1);
        }
    }
}