main{
    grid-area: main;
    display: grid;
    gap: var(--m);
    grid-template-columns: 100%;

    .section{
        background: var(--c-bg-page);
        border-radius: var(--b-radius);
        box-shadow: var(--shadow-l);
        @include page-borders;

        @include full-width-site{
            border-radius: 0;
        }

        > h2:first-child{margin-bottom: var(--xl)}

        > :first-child{margin-top: 0;}
        > :last-child{margin-bottom: 0;}

        &.transparent{
            background: transparent;
            box-shadow: none;
        }

        &.hero{
            background: var(--c-bg-hero);
            padding: var(--m) 0 var(--m) var(--w-page-border);
            box-shadow: none;

            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: var(--l);

            grid-template-areas: "intro image";

            @include only-phone{
                grid-template-columns: 1fr!important;
                grid-template-areas: "intro" "image"!important;
                padding: var(--xxl) var(--w-page-border) 0;
            }

            * {
                color: var(--c-text-heading)!important;
            }

            p{
                margin: 0;
            }

            .intro-text{
                grid-area: intro;
                align-self: center;
            }

            .buttons{
                grid-area: buttons;
                margin-bottom: 0;
                align-self: flex-start;
            }

            svg{
                grid-area: image;
                height: auto;
                max-width: 50vw;
                max-height: 500px;
                align-self: center;
                margin: 0 auto;
            }

            .button:not(.link){
                --shadow-s: 0 0 0 0 transparent;
                background: transparent;

                &:hover{
                    --c-text-heading: #000;
                    color: #fff!important;
                    background: var(--c-highlight);
                }
            }

            @include full-width-site{
                // Remove gap before header
                margin-top: calc(var(--m) * -1);
            }
        }

        &#support{
            text-align: center;
            padding: calc(var(--xl) - var(--m)) var(--w-page-border);
            h2{
                margin-bottom: var(--l);
            }
        }
    }

    .intersection{
        padding-top: calc(var(--xl) - var(--m)); // Default padding - grid gap
        padding-bottom: calc(var(--xl) - var(--m));

        h2{
            margin:var(--xxxl) var(--w-page-border) var(--l);
        }

        p{
            margin:var(--m) 0 var(--l)
        }

        .buttons.grid a{
            background: var(--c-bg-page);
        }

        @include full-width-site{
            @include page-borders;
        }

        > :first-child{margin-top:0}
        > :last-child{margin-bottom:0}
    }

    .intro {
        margin: 0;
        text-align: center;
        background: transparent;
        @include page-borders;

        h1 {
            margin: 0
        }

        p {
            margin: var(--s-relative) 0 0;
        }

        .search-form {
            margin: var(--l-relative) auto 0;
        }
    }


    .post-meta {
        margin: 0 0 var(--xl);
        padding: 0 0 var(--xl);

        display: flex;
        flex-wrap: wrap;
        align-items: end;
        gap: var(--xs) var(--l);

        border-bottom: var(--b-box);

        .icon{
            flex: 0 0 auto;
        }

        > :not(#reviewers), .breadcrumbs :is(ol, li) {
            font-size: var(--f-s);
            display: flex;
            align-items: center;
            gap: var(--xs);
            margin: 0;
        }

        .breadcrumbs {
            order: 999;

            li + li:before{ // Separator arrow
                content: '';
                display: inline-block;
                width: 0.8em;
                height: 0.8em;
                align-self: center;
                mask-image: var(--i-expand);
                mask-position: center right;
                mask-repeat: no-repeat;
                background-color: currentColor;
                opacity: 0.5;
                transition: transform 0.2s;
                transform: rotate(-90deg);
            }

            // Hide current page in breadcrumbs
            li:has([aria-current]):not(:has([href*="/glossary/"])){
                display: none;
            }
        }

        .tags {
            order: 999;
            flex: 1 0 auto;
            justify-content: flex-end;
            ul{
                display: flex;
                gap: var(--xs);
                margin: 0;
            }
        }

        @include only-phone{
            > :not(#reviewers){
                flex: 1 0 100%;
            }

            // Hide glossary term in breadcrumbs, but only on mobile because they are too wide.
            li:has([aria-current]){
                display: none;
            }
        }

        .post-reviewers button{
            @include expansible;

            &[aria-expanded=true]{
                @include collapsible;
            }
        }

        #reviewers{
            @include widget;
            margin-top: var(--m);
            flex: 1 0 100%;
            box-sizing: border-box;

            li{
                display: grid;
                grid-template-columns: auto 1fr;
                grid-template-areas: "photo title" "photo description";
                gap: var(--xs) var(--m);
                align-items: center;

                :is(picture, .placeholder){
                    grid-area: photo;
                    background: var(--c-bg-image) var(--i-logo) no-repeat center / var(--w-logo) auto;
                    width: var(--w-img-bio-s);
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .reviewer-byline{
                    grid-area: title;
                }
                .reviewer-description{
                    grid-area: description;
                    > * {
                        margin: 0;
                    }
                }

                + li{
                    border-top: var(--b-box);
                    margin-top: var(--m);
                    padding-top: var(--m);
                }

                @include only-phone{
                    grid-template-columns: 1fr auto;
                    grid-template-areas: "title photo" "description description";

                    time{
                        display: block;
                        color: var(--c-text-light);
                    }
                }
            }
        }
    }

    #related .collection{
        padding: 0;
        box-shadow: none;

        @include full-width-site{
            + .collection{
                margin-top: var(--l);
            }
        }
    }
}