:root, .map{
    color-scheme: light dark;

    // Absolute sizes
    --xxxl: 2.5rem;
    --xxl: 2rem;
    --xl: 1.5rem;
        --xl-relative: 1.5em; // Text blocks
    --l: 1.25rem;
        --l-relative: 1.25em; // Text blocks
    --m: 19px; // Separate but related elements
        --m-relative: 1em; // Separate but related elements
    --s: 0.5rem; // Space between parts of a component, list items
        --s-relative: 0.5em; // Compact text blocks
    --xs: 0.3rem; // Space between two characters

    // Typography sizes
    --f-s: 0.9rem;
    --f-xs: 0.7rem; // Do not use
    --line-height-text: 1.6;
    --line-height-heading: 1.3;
    --line-height-label: 1.3;

    // Specific element sizes
    --b-radius: var(--s);
    --f-footnote: 0.55rem;
    --h-header: var(--xxxl);
    --h-icon-l: 3rem;
    --w-checkbox: var(--l);
    --w-img-bio-s: 75px;
    --w-img-bio-l: 125px;
    --w-img-logo: 100px;
    --h-img-logo: 75px;
    --w-icon-s: var(--xl-relative);
    --w-label-column: 10rem;
    --w-logo: 21px;
    --w-tablet: #{$width-tablet};
    --w-main-column: 860px;
    --w-desktop: #{$width-desktop};
    --w-mini-pie-chart: var(--l);
    --w-page-border: var(--xxl);
    --w-sidebar: calc(var(--w-desktop) - var(--w-main-column));

    --s-text-block: var(--l-relative);

    // Colours
    --c-highlight: #da513d;
    --c-highlight-green: #0c8;
    --c-text-error: #{darken(#da513d, 20%)};
    --c-text-heading: #000;
    --c-text-light: #757575;
    --c-text-link: #55f;
    --c-text-link-visited: #77b;
    --c-text-placeholder: #4447;
    --c-text: #444;

    --c-text-selection: #fd6;
    --c-bg-input: var(--c-bg-page);
    --c-bg-error: #da513d44;
    --c-bg-input-error: #da513d09;
    --c-bg-website: #f9f9f9;
    --c-bg-page: #fff;
    --c-bg-widget: #00000009;
    --c-bg-widget-opaque: #f6f6f6;
    --c-bg-image: var(--c-bg-widget);
    --c-border-box: #0002;
    --c-border-box-opaque: #ddd;
    --c-border-input: #0005;
    --c-border-input-focused: #0008;
    --c-border-input-disabled: var(--c-border-box);

    --c-border-clickable: var(--c-border-box);
    --c-border-clickable-hover: var(--c-highlight);

    --c-border-hint: #0004; // Also update --i-expand
    --c-border-hint-hover: var(--c-border-input-focused);

    --c-bg-clickable: transparent;
    --c-bg-clickable-hover: #fff1;

    // Borders
    --b-box: 1px solid var(--c-border-box);
    --b-box-hover: 1px solid var(--c-border-box);
    --b-input: 1px solid var(--c-border-input);

    // Shadow
    --shadow-l: 0 var(--s) var(--xl) calc(var(--l) * -1) #0005;
    --shadow-s: 0 var(--xs) var(--s) calc(var(--s) * -1) #0003;

    --text-decoration-link: none;

    --i-expand: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><g><path d='M16,23.5a1.51,1.51,0,0,1-1.06-.44l-12-12A1.5,1.5,0,0,1,5.06,8.94L16,19.88,26.94,8.94a1.5,1.5,0,0,1,2.12,2.12l-12,12A1.51,1.51,0,0,1,16,23.5Z'/></g></svg>");
}

@include only-phone{
    :root{
        --w-page-border: var(--m);
        --m: 17px;
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --c-highlight: #9f3a2b;
        --c-highlight-green: #{darken(#0c8, 20%)};
        --c-text: #bbb;
        --c-text-error: #{lighten(#9f3a2b, 20%)};
        --c-text-heading: #ddd;
        --c-text-light: #999;

        --c-text-link: #cc5;
        --c-text-link-visited: #bb7;

        --c-text-placeholder: #bbb7;
        --c-text-selection: #550;
        --c-bg-website: #111;
        --c-bg-page: #222;
        --c-bg-widget: #ffffff0c;
        --c-bg-widget-opaque: #2c2c2c;
        --c-bg-image: var(--c-bg-widget);
        --c-bg-error: #9f3a2b44;
        --c-bg-input-error: #9f3a2b11;
        --c-border-box: #fff3;
        --c-border-box-opaque: #4f4f4f;
        --c-border-input: #fff5;
        --c-border-input-focused: #fff8;

        --c-border-hint: #fff6;

        --c-bg-clickable: transparent;
        --c-bg-clickable-hover: #0001;

        --i-expand: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><g><path fill='%23ffffff' d='M16,23.5a1.51,1.51,0,0,1-1.06-.44l-12-12A1.5,1.5,0,0,1,5.06,8.94L16,19.88,26.94,8.94a1.5,1.5,0,0,1,2.12,2.12l-12,12A1.51,1.51,0,0,1,16,23.5Z'/></g></svg>");
    }

    dialog::backdrop{
        backdrop-filter: blur(3px) contrast(0.9) brightness(0.4) grayscale(0.2)!important;
    }
}