{% extends "_layout.html" %}
{% set metatitle = "Tools, forms and document templates" %}
{% set metadescription = "Tools for German bureaucracy: translated forms, document templates, tax calculators, Bürgeramt appointment finder and more." %}
{% set metaimage = "/staticimages/tools.png" %}

{% block postHead %}
	{{ super() }}
	<link rel="canonical" href="{{ SITE_URL }}/tools">
{% endblock %}

{% from "_blocks/toolPreview.html" import preview with context %}

{% block main %}
	<main aria-label="Main page">
		<article class="section">
			<h1>Tools, forms and document templates</h1>
			<div class="article-body">
				<p>These documents and tools make your life in Berlin easier.</p>
				{% for collection in get_entries('collections') %}
					{% if collection.type == 'tools' %}
						<h2 id="{{ collection.id }}">{{ collection.title }}</h2>
						<ol class="previews">
						{% for item in collection.entries %}
							{{ preview(entries[item.uri]) }}
						{% endfor %}
						</ol>
					{% endif %}
				{% endfor %}
			</div>
		</article>
	</main>
	<div class="sidebar" data-nosnippet aria-label="Tool categories">
		<nav class="table-of-contents no-print" aria-label="Tool categories">
			<h2>Categories</h2>
			<ol>
				{% for collection in get_entries('collections') | selectattr('type', 'equalto', 'tools') %}
					{% if collection.type == 'tools' %}
						<li><a href="#{{ collection.id }}">{{ collection.short_title|default(collection.title) }}</a></li>
					{% endif %}
				{% endfor %}
			</ol>
		</nav>
		<div id="floating-nav">
			<button class="button open-close" title="Show/hide table of contents"><i class="icon table-of-contents"></i></button>
		</div>
	</div>
{% endblock %}

{% js %}
	import initializeSidebar from '/js/components/sidebar.mjs';
	initializeSidebar();
{% endjs %}
