{% extends "services/_layout.html" %}
{% set metatitle = "Sign up for German health insurance" %}
{% set metadescription = "Sign up for German health insurance." %}

{% block extraScss %}
	{{ super() }}
	.signup-page {
		display: contents;
	}
{% endblock %}

{% block main %}
	<main aria-label="Main page">
		<section class="section">
			<noscript><p>This page requires JavaScript to work.</p></noscript>
		</section>
	</main>
	<div class="sidebar no-print"></div>
{% endblock %}

{% queueJs %}
	import Vue from '/js/vue/vue.mjs';
	import HealthInsuranceSignup from '/js/vue/pages/health-insurance-signup.mjs';
	import HealthInsuranceSignupSidebar from '/js/vue/pages/health-insurance-signup-sidebar.mjs';

	new Vue({
		el: 'main > .section',
		...HealthInsuranceSignup,
	});

	new Vue({
		el: 'main + .sidebar',
		...HealthInsuranceSignupSidebar,
	});
{% endqueueJs %}
