<form class="newsletter-form no-print" aria-label="Newsletter subscription form" data-nosnippet>
	<span>
		{% if text|default %}
			{{ text }}
		{% else %}
			Subscribe to our <a href="{{ SITE_URL }}/newsletter">newsletter</a>! Get useful tips and updates by email once per month.
		{% endif %}
	</span>
	<div class="email-form">
		<input aria-label="Email address" type="email" autocomplete="email" title="Email address" placeholder="Your email address" required>
		<button type="submit" class="button primary" aria-label="Subscribe to the newsletter">
			<span>Subscribe</span>
			<i class="icon right"></i>
		</button>
	</div>
</form>
{% queueJs %}
	import initializeNewsletterForm from '/js/components/newsletter-form.mjs';
	initializeNewsletterForm();
{% endqueueJs %}