<div class="post-meta no-print" aria-label="Author, publication date, categories and reviewers">
	{% if entry.collections|default %}
		<nav class="breadcrumbs" aria-label="Breadcrumbs">
			<i class="icon folder" aria-hidden="true"></i>
			<ol>
				<li><a href="">Guides</a></li>
				<li><a href="{{ entry.collections[0].url }}">{{ entry.collections[0].short_title|default(entry.collections[0].title) }}</a></li>
				<li><a href="{{ entry.url }}" aria-current="page">{{ entry.short_title|default(entry.title) }}</a></li>
			</ol>
		</nav>
	{% endif %}
	<div>
		<i class="icon calendar" aria-hidden="true"></i>
		<span>
		{% if showPublicationDate|default %}
			Published on
		{% else %}
			Updated on
		{% endif %}
		{% if showPublicationDate|default %}
			<time datetime="{{ entry.date_created.isoformat(timespec='seconds') }}">{{ entry.date_created.strftime('%B %-d, %Y') }}</time>
		{% else %}
			<time datetime="{{ entry.date_updated.isoformat(timespec='seconds') }}">{{ entry.date_updated.strftime('%B %-d, %Y') }}</time>
		{% endif %}
		</span>
	</div>
	<div>
		<i class="icon person" aria-hidden="true"></i>
		{% if entry.author|default %}
			{% if entry.author_url|default %}
				By <a rel="nofollow" href="{{ entry.author_url }}" target="_blank">{{ entry.author }}</a>
			{% else %}
				By {{ entry.author }}
			{% endif %}
		{% else %}
			By <a rel="author nofollow" href="{{ SITE_URL }}/about">Nicolas Bouliane</a>
		{% endif %}
	</div>
	{% set reviews = entry.related_reviews|default([]) %}
	{% if reviews|length %}
		<div class="post-reviewers">
			<i class="icon verified" aria-hidden="true"></i>
			Verified by <button
				aria-label="Show list of reviewers"
				aria-controls="reviewers"
				aria-expanded="false"
				aria-hasmenu="true"
				class="button link">{{ reviews|length }} expert{% if reviews|length > 1 %}s{% endif %}</button>
		</div>
	{% endif %}
	{% if reviews %}
		<ul id="reviewers" aria-label="Experts who reviewed this page" hidden>
			{% for review in reviews %}
				{% set reviewer = review.related_expert[0] %}
				<li>
					{% if reviewer.picture|default %}
						{% image reviewer.picture, alt=reviewer.name, sizes="75px" %}
					{% else%}
						<div class="placeholder no-mobile" aria-hidden="true"></div>
					{% endif %}
						<div class="reviewer-byline">
							<strong><span class="no-mobile">Verified by </span> {{ reviewer.name }}</strong>
							<span class="no-mobile"> on </span>
							<time datetime="{{ review.date_reviewed.isoformat(timespec='seconds') }}">{{ review.date_reviewed.strftime('%B %-d, %Y') }}</time>
						</div>
						<div class="reviewer-description">
							{{ reviewer.body|render|safe }}
						</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>

{% if reviews|length %}
	{% js %}
		import initializeReviewers from '/js/components/reviewers.mjs';
		initializeReviewers();
	{% endjs %}
{% endif %}