<div class="sidebar no-print" aria-label="Sidebar navigation" data-nosnippet>
	{% with entry=entry, showRelatedEntriesLink=showRelatedEntriesLink %}
		{% include "_blocks/tableOfContents.html" %}
	{% endwith %}
	{% if entry.get('call_to_action') == 'askOurInsuranceExpert' %}
		<a class="button whatsapp cta" href="/guides/german-health-insurance#need-help">
			{% include "_icons/whatsapp.svg" %} Ask our insurance expert
		</a>
	{% else %}
		{% include "_blocks/newsletterForm.html" %}
	{% endif %}
	<div id="floating-nav">
		{% if entry.get('call_to_action') == 'askOurInsuranceExpert' %}
			<a class="button cta" href="/guides/german-health-insurance#need-help">
				{% include "_icons/whatsapp.svg" %} Ask our expert
			</a>
		{% endif %}
		<button class="button open-close" title="Show/hide table of contents"><i class="icon table-of-contents"></i></button>
	</div>
</div>

{% queueJs %}
	import initializeSidebar from '/js/components/sidebar.mjs';
	initializeSidebar();
{% endqueueJs %}