{% extends "_layout.html" %}
{% set metatitle = "Page not found" %}
{% set metadescription = "The page you are looking for does not exist." %}

{% block postHead %}
	<meta name="robots" content="noindex">
	{% queueJs %}
		window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) };
		plausible("404", { props: { path: document.location.pathname } });
	{% endqueueJs %}
{% endblock %}

{% block main %}
	<main aria-label="Main page">
		<div class="intro">
			<h1>Page not found</h1>
			<p>Not what you expected? To report a problem, <a href="{{ SITE_URL }}/contact">contact me</a>.</p>
			<search>
				<form action="{{ SITE_URL }}/search" method="get">
					<input type="search" name="q" placeholder="Search this website" aria-label="Search this website" autofocus>
				</form>
			</search>
		</div>
	</main>
{% endblock %}

