{% extends "_layout.html" %}
{% set metatitle = "Search" %}
{% set metadescription = "Search all guides, tools and forum posts on All About Berlin." %}

{% block content %}
	<h1>Search</h1>
	{% tool "search" %}
{% endblock %}
