{% extends "services/_layout.html" %}
{% set metatitle = "Page not found" %}
{% set metadescription = "The page you are looking for does not exist." %}
{% set index_in_search_engines = false %}

{% block postHead %}
	{% queueJs %}
		window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) };
		plausible("404", { props: { path: document.location.pathname } });
	{% endqueueJs %}
{% endblock %}

{% block main %}
	<main aria-label="Main page">
		<header class="section intro">
			<h1>Page not found</h1>
			<p>The page you are looking for does not exist.</p>
		</header>
		{% tool "health-insurance-calculator", mode="question", static=True, landing_page=True, id="contact" %}
	</main>
{% endblock %}
