{% extends "_layout.html" %}
{% set SITE_NAME = "A Good Start" %}
{% block head %}
	<title>{% if metatitle|default %}{{ metatitle }}{% if metatitle|length < 50 %} - {% endif %}{% if metatitle|length < 50 %}A Good Start{% endif %}{% else %}A Good Start - German insurance made easy{% endif %}</title>
	{% if metadescription|default %}<meta name="description" content="{{ metadescription }}">{% endif %}

	<link rel="preload" as="font" href="/fonts/librefranklin-variable.woff2" type="font/woff2" crossorigin>
	<link rel="preload" as="font" href="/fonts/librefranklin-variable-i.woff2" type="font/woff2" crossorigin>
	<link rel="preload" as="fetch" href="/api/exchangerates.json" crossorigin>
	<link rel="preload" as="script" href="/whoisthere.js">
	<script async defer data-api="{{ SERVICES_SITE_URL }}/whoisthere/event" data-domain="agoodstart.de" src="{{ SERVICES_SITE_URL }}/whoisthere.js"></script>

	<link rel="home" href="{{ SERVICES_SITE_URL }}/">
	<link rel="icon" type="image/svg+xml" href="{{ SERVICES_SITE_URL }}/staticimages/favicon.svg">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ SERVICES_SITE_URL }}/staticimages/favicon.png">
	<link rel="apple-touch-icon" href="{{ SERVICES_SITE_URL }}/staticimages/favicon-180.png">
	<link rel="author" href="{{ SERVICES_SITE_URL }}/about">
	<link rel="privacy-policy" href="{{ SERVICES_SITE_URL }}/terms#privacy-policy">
	<link rel="terms-of-service" href="{{ SERVICES_SITE_URL }}/terms">

	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#2fc68e">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1b7453">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:site_name" content="{{ SITE_NAME }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:creator" content="@agoodstartDE">
	<meta name="twitter:site" content="@agoodstartDE">
{% endblock %}

{% block postHead %}
	{% if entry|default %}
		<meta property="og:type" content="article">
		<meta property="og:url" content="{{ entry.url }}">
		<meta property="og:title" content="{{ entry.title }}">
		<meta property="og:description" content="{{ entry.description }}">
		{% if entry.image_url|default %}
			<meta property="og:image" content="{{ entry.image_url }}">
		{% endif %}
		<link rel="canonical" href="{{ entry.url }}">
	{% else %}
		<meta property="og:type" content="website">
		<meta property="og:title" content="{% if metatitle|default %}{{ metatitle }}{% else %}{{ SITE_NAME }}{% endif%}">
		<meta property="og:description" content="{{ metadescription }}">
		<meta property="og:image" content="{{ SERVICES_SITE_URL }}/staticimages/cover.png">
	{% endif %}
	<meta property="og:logo" content="{{ SERVICES_SITE_URL }}/staticimages/logo.png" />
{% endblock %}

{% block jsonld %}
	[
		{
			"@context": "https://schema.org",
			"@type": "WebSite",
			"@id": "{{ SERVICES_SITE_URL }}/#site",
			"author": {
				"@type": "Person",
				"@id": "https://nicolasbouliane.com"
			},
			"accountablePerson": {
				"@type": "Person",
				"@id": "https://nicolasbouliane.com"
			},
			"maintainer": {
				"@type": "Person",
				"@id": "https://nicolasbouliane.com"
			},
			"description": "A Good Start helps you get the right German insurance.",
			"inLanguage": "en",
			"url": "{{ SERVICES_SITE_URL }}/",
			"publisher": {
				"@type": "Organization",
				"@id": "{{ SERVICES_SITE_URL }}/#organization"
			},
			"sameAs": [
				"https://x.com/agoodstartDE",
				"https://reddit.com/r/agoodstartde"
			]
		},
		{
			"@context": "https://schema.org",
			"@id": "{{ SERVICES_SITE_URL }}/#organization",
			"@type": "Organization",
			"description": "A Good Start helps you get the right German insurance.",
			"foundingDate": "2026-05-01",
			"logo": "{{ SERVICES_SITE_URL }}/staticimages/logo.png",
			"name": "A Good Start",
			"sameAs": [
				"https://x.com/agoodstartDE",
				"https://reddit.com/r/agoodstartde"
			],
			"url": "{{ SERVICES_SITE_URL }}/"
		},
		{
			"@context": "https://schema.org",
			"@type": "InsuranceAgency",
			"@id": "{{ SERVICES_SITE_URL }}/#business",
			"name": "A Good Start",
			"description": "A Good Start helps you get the right German insurance.",
			"url": "{{ SERVICES_SITE_URL }}/",
			"email": "contact@agoodstart.de",
			"address": {
				"@type": "PostalAddress",
				"addressCountry": "DE",
				"addressLocality": "Berlin",
				"addressRegion": "Berlin",
				"postalCode": "13127",
				"streetAddress": "Pasewalker Straße 65"
			},
			"logo": "{{ SERVICES_SITE_URL }}/staticimages/logo.png",
			{# "vatID": "DE318085089", #}
			"founder": {
				"@type": "Person",
				"@id": "https://nicolasbouliane.com"
			}
		},
		{
			"@context": "https://schema.org",
			"@type": "Person",
			"@id": "https://nicolasbouliane.com",
			"name": "Nicolas Bouliane",
			"email": "contact@allaboutberlin.com",
			"url": "https://nicolasbouliane.com",
			"jobTitle": "German insurance broker and immigration specialist"
		}
	]
{% endblock %}

{% block extraScss %}
	{% include "css/themes/services.scss" %}
{% endblock %}

{% block body %}
	<header aria-label="Main menu" class="no-print">
		<nav aria-label="Website sections">
			<a href="{{ SERVICES_SITE_URL }}" rel="home">
				{{ SITE_NAME }}
			</a>
			<a href="{{ SERVICES_SITE_URL }}/health-insurance">Health insurance</a>
			<a href="{{ SERVICES_SITE_URL }}/contact">Contact us</a>
		</nav>
	</header>
	{% block main %}
		<main aria-label="Main page">
			{% block precontent %}{% endblock %}
			<article class="section">
				{% block content %}{% endblock %}
			</article>
			{% block postcontent %}{% endblock %}
		</main>
	{% endblock %}
	{% block footer %}
		<footer aria-label="Bottom menu" class="no-print">
			<a href="{{ SERVICES_SITE_URL }}/impressum" rel="nofollow">Imprint</a> •
			<a href="{{ SERVICES_SITE_URL }}/impressum#terms-of-service" rel="nofollow">AGB</a>
		</footer>
	{% endblock %}
{% endblock %}