<!DOCTYPE html>
{% set SITE_NAME = "A Good Start" %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% if metatitle|default %}{{ metatitle }}{% if metatitle|length < 50 %} - {% endif %}{% if metatitle|length < 50 %}{{ SITE_NAME }}{% endif %}{% else %}{{ SITE_NAME }}{% endif %}</title>
	{% if metadescription|default %}<meta name="description" content="{{ metadescription }}">{% endif %}

	<link rel="preload" as="font" href="/fonts/librefranklin-variable.woff2" type="font/woff2" crossorigin>
	<link rel="preload" as="font" href="/fonts/librefranklin-variable-i.woff2" type="font/woff2" crossorigin>
	<link rel="preload" as="fetch" href="/api/exchangerates.json" crossorigin>
	<link rel="preload" as="script" href="/whoisthere.js">
	<script async defer data-api="{{ SERVICES_SITE_URL }}/whoisthere/event" data-domain="allaboutberlin.com" src="{{ SERVICES_SITE_URL }}/whoisthere.js"></script>

	<link rel="home" href="{{ SERVICES_SITE_URL }}/">
	<link rel="icon" type="image/png" href="/staticimages/favicon.png">
	<link rel="author" href="{{ SERVICES_SITE_URL }}/about">
	<link rel="privacy-policy" href="{{ SERVICES_SITE_URL }}/terms#privacy-policy">
	<link rel="terms-of-service" href="{{ SERVICES_SITE_URL }}/terms">

	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#da513d">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#9f3a2b">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:site_name" content="{{ SITE_NAME }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:creator" content="@aboutberlin">
	<meta name="twitter:site" content="@aboutberlin">
	{% block postHead %}
		{% if entry|default %}
			<meta property="og:type" content="article">
			<meta property="og:url" content="{{ entry.url }}">
			<meta property="og:title" content="{{ entry.title }}">
			<meta property="og:description" content="{{ entry.description }}">
			{% if entry.image_url|default %}
				<meta property="og:image" content="{{ entry.image_url }}">
			{% endif %}
			<link rel="canonical" href="{{ entry.url }}">
		{% else %}
			<meta property="og:type" content="website">
			<meta property="og:title" content="{% if metatitle|default %}{{ metatitle }}{% else %}{{ SITE_NAME }}{% endif%}">
			<meta property="og:description" content="{{ metadescription }}">
			<meta property="og:image" content="{{ SERVICES_SITE_URL }}/staticimages/cover.png">
		{% endif %}
		<meta property="og:logo" content="{{ SERVICES_SITE_URL }}/staticimages/logo.png" />
	{% endblock %}
	<style>
		{% scss %}
			{% include "css/style.scss" %}
			{% include "services/css/style.scss" %}
			{% block extraScss %}
			{% endblock %}
		{% endscss %}
	</style>
	<noscript>
		<style>
			[v-cloak]:before, [v-cloak]:after{content:none}
		</style>
	</noscript>
</head>
<body>
{% block body %}
	<header id="main-nav" aria-label="Main menu" class="no-print">
		<a class="logo" href="{{ SERVICES_SITE_URL }}" rel="home">
			{{ SITE_NAME }}
		</a>
		<nav id="sections" aria-label="Website sections">
			<a title="Get German insurance" href="{{ SERVICES_SITE_URL }}/services/insurance">Insurance</a>
			<a class="no-mobile" href="{{ SERVICES_SITE_URL }}/contact">Contact</a>
		</nav>
	</header>
	{% block main %}
		<main aria-label="Main page">
			{% block precontent %}{% endblock %}
			<article class="section">
				{% block content %}{% endblock %}
			</article>
			{% block postcontent %}{% endblock %}
		</main>
	{% endblock %}
	{% block footer %}
		<footer aria-label="Bottom menu" class="no-print">
			<a href="{{ SERVICES_SITE_URL }}/contact" rel="nofollow">Imprint</a> •
			<a href="{{ SERVICES_SITE_URL }}/terms" rel="nofollow">AGB</a>
		</footer>
	{% endblock %}
{% endblock %}
</body>
</html>
