{% extends "services/_layout.html" %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}

{% block main %}
	<main aria-label="Main page">
		<header class="section intro">
			<h1>{{ entry.intro_title }}</h1>
		</header>
		{% tool "insurance-contact-form", static=True %}
	</main>
{% endblock %}
