{% extends "services/_layout.html" %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}

{% block main %}
	<main aria-label="Main page">
		<header class="section intro">
			<h1>{{ entry.intro_title }}</h1>
			<p>{{ entry.intro_subtitle }}</p>
		</header>
		{% tool "health-insurance-calculator", mode="question", static=True %}
		<article class="section article-body" aria-label="Main content">
			{{ entry.body|render|safe }}
		</article>
	</main>
{% endblock %}
