{% extends "services/_layout.html" %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}

{% block main %}
	<main aria-label="Main page">
		{% tool "contact-form", static=True %}
	</main>
{% endblock %}
