{% extends "services/_layout.html" %}
{% set metatitle = entry.title %}
{% set metadescription = entry.description %}

{% block main %}
	<main aria-label="Main page">
		<header class="section intro">
			<h1>{{ entry.intro_title|default(entry.title) }}</h1>
			{% if entry.intro_subtitle|default %}<p>{{ entry.intro_subtitle }}</p>{% endif %}
		</header>
		<article class="section article-body glossary-links" aria-label="Main content">
			{{ entry.body|render|safe }}
		</article>
	</main>
{% endblock %}
