{% extends "services/_layout.html" %}
{% set metatitle = "Health insurance" %}
{% set metadescription = "" %}

{% block main %}
	<main aria-label="Main page">
		<header class="intro">
			<h1>Health insurance</h1>
		</header>
		<article class="section article-body" aria-label="Main content">
		</article>
	</main>
{% endblock %}
