{% extends "services/_layout.html" %}
{% set metatitle = "Get German health insurance" %}
{% set metadescription = "Public, expat or private health insurance? Our insurance expert helps you choose the best German health insurance." %}

{% block main %}
	<main aria-label="Main page">
		<header class="section intro article-body">
			<h1>Health insurance? Sorted.</h1>
			<p>We get you the right coverage for the best price.</p>
			<div class="buttons bar left">
				<a class="button" href="#calculator">Find health insurance</a>
				<a class="button" href="#contact">Ask our expert</a>
			</div>
		</header>
		<section class="section price-table" id="prices" aria-label="German health insurance prices">
			{% tool "health-insurance-price-table" %}
			<div class="buttons bar">
				<a href="#calculator" class="button primary internal-link">Calculate your price</a>
			</div>
		</section>
		<section class="section price-table" id="prices" aria-label="German health insurance prices">
			<h2>Compare health insurance options</h2>
			<p>There are 3 types of German health insurance: expat, public and private. Use our <a href="#calculator">recommendation tool</a> or <a href="#contact">ask our expert</a> to find the best option.</p>
			<table class="price-table">
				<tbody>
					<tr class="section-heading">
						<th colspan="4">How you can use it</th>
					</tr>
					<tr class="plan-names">
						<td></td>
						<th scope="col"><glossary term="Expat health insurance">Expat</glossary></th>
						<th scope="col"><glossary term="gesetzliche Krankenversicherung">Public</glossary></th>
						<th scope="col"><glossary term="private Krankenversicherung">Private</glossary></th>
					</tr>
					<tr class="feature">
						<th scope="row">Who it's for</th>
						<td>
							<ul>
								<li>Visa applicants</li>
								<li>Students</li>
								<li>Digital nomads</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Employees</li>
								<li>Students</li>
								<li>Freelance artists</li>
							</ul>
						</td>
						<td>
							<ul>
								<li>Employees</li>
								<li>Students over 30</li>
								<li>Freelancers</li>
							</ul>
						</td>
					</tr>
					<tr class="feature">
						<th scope="row"><glossary term="Schengen visa">Schengen Visa</glossary></th>
						<td><span class="yes"></span></td>
						<td><span class="no"></span></td>
						<td><span class="no"></span></td>
					</tr>
					<tr class="feature">
						<th scope="row"><glossary>National Visa</glossary></th>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
					</tr>
					<tr class="feature">
						<th scope="row"><glossary term="Aufenthaltstitel">Residence permit</glossary></th>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
					</tr>
					<tr class="feature subfeature">
						<th scope="row">First application</th>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
					</tr>
					<tr class="feature subfeature">
						<th scope="row">Renewal</th>
						<td><span class="no"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
					</tr>
					<tr class="feature">
						<th scope="row">Employees</th>
						<td><span class="no"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
					</tr>
					<tr class="feature">
						<th scope="row">Freelancers</th>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
					</tr>
				</tbody>
				<tbody>
					<tr class="section-heading">
						<th colspan="4">What it covers</th>
					</tr>
					<tr class="plan-names">
						<td></td>
						<th scope="col"><glossary term="Expat health insurance">Expat</glossary></th>
						<th scope="col"><glossary term="gesetzliche Krankenversicherung">Public</glossary></th>
						<th scope="col"><glossary term="private Krankenversicherung">Private</glossary></th>
					</tr>
					<tr class="feature">
						<th scope="row">Adjustable coverage</th>
						<td><span class="yes"></span></td>
						<td><span class="no"></span></td>
						<td><span class="yes"></span></td>
					</tr>
					<tr class="feature">
						<th scope="row">Pre-existing conditions</th>
						<td><span class="no"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="no"></span></td>
					</tr>
					<tr class="feature">
						<th scope="row">Mental healthcare</th>
						<td><span class="no"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
					</tr>
					<tr class="feature">
						<th scope="row">Covers children for free</th>
						<td><span class="no"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="no"></span></td>
					</tr>
					<tr class="feature">
						<th scope="row">Covers unemployed spouse for free</th>
						<td><span class="no"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="no"></span></td>
					</tr>
				</tbody>
			</table>
		</section>
		{% tool "health-insurance-calculator", static=True, id="calculator" %}
		{% tool "health-insurance-calculator", mode="question", static=True, id="contact" %}
		<section class="section transparent">
			<h2 align="center">Why get insured with us?</h2>
			<div class="two-columns">
				<div>
					<h3>Perfect for your German visa</h3>
					<p>Our health insurance is accepted by German embassies, consulates and immigration offices. It works for any type of visa.</p>
				</div>
				<div>
					<h3>Get more, pay less</h3>
					<p>Are you paying too much for health insurance? We help you get better coverage at a lower price, for free.</p>
				</div>
				<div>
					<h3>We're on your side</h3>
					<p>We are independent brokers. We give honest, neutral advice, and we only sell you something when you need it.</p>
				</div>
				<div>
					<h3>Truly personalised advice</h3>
					<p>When it comes to your future, we don't believe in "one size fits all". Each case is a conversation, and we're happy to talk.</p>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
