{% extends "services/_layout.html" %}
{% set metatitle = "Get German health insurance" %}
{% set metadescription = "Public, expat or private health insurance? Our insurance expert helps you choose the best German health insurance." %}

{% block main %}
	<main aria-label="Main page">
		<header class="section intro article-body">
			<h1>Health insurance? Sorted.</h1>
			<p>We help you get the right coverage for the best price, for free.</p>
			<div class="buttons bar left">
				<a class="button primary" href="#calculator">Choose health insurance</a>
				<a class="button" href="#contact">Ask our expert</a>
			</div>
		</header>
		{% tool "health-insurance-calculator", static=True, id="calculator" %}
		<section class="section" aria-label="German health insurance prices">
			<h2>Health insurance prices</h2>
			<p>Your options depend on your situation. <a href="">Tell us more about you</a> to get an accurate price.</p>
			<hr>
			<table class="price-table">
				<thead>
					<tr class="plan-names">
						<th></th>
						<th scope="col">
							⭐
							<br>
							Expat
						</th>
						<th scope="col">
							⭐⭐⭐
							<br>
							Public
						</th>
						<th scope="col">
							🌟🌟🌟
							<br>
							Private
						</th>
					</tr>
					<tr>
						<th scope="row">Summary</th>
						<td>Basic coverage for your first visa.</td>
						<td>The simple long-term option.</td>
						<td>Choose your coverage, see doctors faster.</td>
					</tr>
					<tr>
						<th scope="row">Price</th>
						<td>From €200/month</td>
						<td>From €200/month</td>
						<td>From €200/month</td>
					</tr>
				</thead>
				<tbody>
					<tr class="section-heading">
						<th colspan="4">What it's good for</th>
					</tr>
					<tr>
						<th scope="row">Schengen Visa</th>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
					</tr>
					<tr>
						<th scope="row">National Visa</th>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
					</tr>
					<tr>
						<th scope="row"><a href="/glossary/Aufenthaltstitel">Residence permit</a></th>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
					</tr>
					<tr class="subfeature">
						<th scope="row">First application</th>
						<td><span class="no"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
					</tr>
					<tr class="subfeature">
						<th scope="row">Renewal</th>
						<td><span class="no"></span></td>
						<td><span class="yes"></span></td>
						<td><span class="yes"></span></td>
					</tr>
				</tbody>
				<tbody>
					<tr class="section-heading">
						<th colspan="4">Features</th>
					</tr>
					<tr>
						<th scope="row">Choose your coverage</th>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">Cancellation period</th>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th scope="row">Switch insurances</th>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th scope="row"></th>
						<td scope="col">
							<a href="">Choose expat</a>
						</td>
						<td scope="col">
							<a href="">Choose public</a>
						</td>
						<td scope="col">
							<a href="">Choose private</a>
						</td>
					</tr>
				</tfoot>
			</table>
			<div class="buttons bar">
				<a href="" class="internal-link">Help me choose</a>
			</div>
		</section>
		<section class="section transparent">
			<div class="two-columns">
				<div>
					<h3>Why get health insurance?</h3>
					<p>Because it's required to live in Germany or apply for a German visa. It pays for your healthcare when you are sick.</p>
				</div>
				<div>
					<h3>Public, private or expat?</h3>
					<p>There are 3 types of health insurance and hundreds of options. We help you pick the best option for your situation.</p>
				</div>
			</div>
			<div class="buttons bar">
				<strong><a href="https://allaboutberlin.com/guides/german-health-insurance" class="internal-link">Learn how health insurance works</a></strong>
			</div>
		</section>
		{% tool "health-insurance-calculator", mode="question", static=True, id="contact" %}
		<section class="section transparent">
			<h2 align="center">Why get insured with us?</h2>
			<div class="two-columns">
				<div>
					<h3>Perfect for a German visa</h3>
					<p>Our insurance is accepted by German embassies, consulates and immigration offices, for any type of visa.</p>
				</div>
				<div>
					<h3>Get more, pay less</h3>
					<p>Are you paying too much for health insurance? We help you get better coverage at a lower price, for free.</p>
				</div>
				<div>
					<h3>We're on your side</h3>
					<p>We are independent brokers. We give honest, neutral advice, and we only sell you something when you need it.</p>
				</div>
				<div>
					<h3>Truly personalised advice</h3>
					<p>When it comes to your future, we don't believe in "one size fits all". Each case is a conversation, and we're happy to talk.</p>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
