{% extends "services/_layout.html" %}
{% set metatitle = "" %}
{% set metadescription = "Guides for people who want to settle in Berlin. Information about getting a visa, finding a job, finding an apartment, and a lot more." %}

{% block postHead %}
	{{ super() }}
	<link rel="canonical" href="{{ SITE_URL }}/">
{% endblock %}
{% block main %}
	<main aria-label="Main page">
		<header class="section intro">
			<h1>One less thing to worry about</h1>
			<p>
				We sell insurance that gives you peace of mind.
			</p>
			<div class="buttons bar left">
				<a class="button primary" href="#choose">Get insured</a>
			</div>
		</header>

		{% tool "insurance-checklist", static=True, id="choose" %}
	</main>
{% endblock %}
