{% extends "services/_layout.html" %}
{% set metatitle = "" %}
{% set metadescription = "Guides for people who want to settle in Berlin. Information about getting a visa, finding a job, finding an apartment, and a lot more." %}

{% block postHead %}
	{{ super() }}
	<link rel="canonical" href="{{ SITE_URL }}/">
{% endblock %}
{% block main %}
	<main aria-label="Main page">
		<header class="intro">
			<h1>One less thing to worry about.</h1>
			<p>
				Modern, flexible insurance for your life in Germany.
			</p>
		</header>
		<nav class="intersection" aria-label="Most important guides">
			<ul class="buttons grid" aria-label="Other important guides">
				<li>
					<a title="How to choose German health insurance" href="{{ SITE_URL }}/guides/german-health-insurance">
						{% include "_icons/health.svg" %}
						Health insurance
					</a>
				</li>
				<li>
					<a title="What is liability insurance?" href="{{ SITE_URL }}/guides/haftpflichtversicherung">
						{% include "_icons/liability.svg" %}
						Liability insurance
					</a>
				</li>
				<li>
					<a title="What is liability insurance?" href="{{ SITE_URL }}/guides/help">
						{% include "_icons/support.svg" %}
						Professional help
					</a>
				</li>
			</ul>
			<div class="buttons bar">
				<a class="button primary" href="{{ SITE_URL }}/guides">See all guides <i class="icon right" aria-hidden="true"></i></a>
			</div>
		</nav>
	</main>
{% endblock %}
