.comments .comment{
    padding-left: 0!important;
    [itemprop="author"]{
        font-weight: 500;
        color: var(--c-text-heading);
    }
    [itemprop="datePublished"]{
        float:right;
        color: var(--c-text-light);
    }
    &:before{
        content: none!important;
    }
    .comments{
        border-left: var(--b-box);
        padding-left: var(--xl);
    }
}