#glossary-tooltip{
    &[open]{
        @include text;
        @include box-l;
        border: none;
        max-width: calc(min(var(--w-main-column), calc(100% - 2 * var(--w-page-border))));
        margin: var(--w-page-border) auto;
        box-sizing: border-box;
        background: var(--c-bg-page);
        box-shadow: var(--shadow-l);
        width: 100%;
    }

    header{
        display:grid;
        align-items: center;
        grid-template-columns: 1fr auto auto;
        grid-template-areas: "title pronounce close";
        gap: 0 var(--m);
        padding-bottom: var(--xl);
        margin-bottom: var(--xl);
        border-bottom: var(--b-box);

        @include only-phone{
            grid-template-columns: 1fr auto;
            grid-template-areas: "title close" "title pronounce";
        }
    }


    &::backdrop{
        backdrop-filter: blur(3px) contrast(0.9) brightness(0.8) grayscale(0.2);
        -webkit-backdrop-filter: blur(3px) contrast(0.9) brightness(0.8) grayscale(0.2);
        background: transparent;
    }

    h2 {
        grid-area: title;
        small {
            display: block;
            margin-top: var(--xs);
        }
    }

    :is(h2 a, h2 a:visited){
        color: var(--c-text-heading);
        &:hover{
            text-decoration: none;
            dfn{
                text-decoration: underline;
            }
        }
    }

    .close-button{
        grid-area: close;
    }
    .pronounce-button{
        grid-area: pronounce;
    }

    :is(.close-button, .pronounce-button){
        padding: var(--s);
        margin-right: calc(var(--s) * -1);
        color: var(--c-border-input);
        background: transparent;

        &:hover{
            color: var(--c-border-input-focused);
            cursor: pointer;
        }
        .icon{
            display: block;
        }
    }

    .footnote-ref{
        display: none
    }
}