:not(.price-line) > .price{ // Box with a price in it
    @include text-bold;
    display: inline-block;
    padding: var(--s) var(--m);
    background: var(--c-bg-widget);
    border-radius: var(--b-radius);
    text-align: center;

    > span{
        white-space: nowrap;
    }

    small{
        font-weight: normal;
        color: var(--c-text-light)!important;
    }

    &.large{
        font-size: var(--xxl);
        font-weight: normal;
        width: 100%;
        box-sizing: border-box;
        display: block;
    }
}

.price-line{ // Looks like "Item.........€30"
    @include text-block-compact;

    display: flex;
    justify-content: space-between;

    &.highlighted{
        @include text-bold;
    }

    .price{
        display: flex;
        flex:2 0 auto;
        align-items:baseline;

        + .price{
            flex:0 0 8em;
        }

        @include only-phone{
            &.no-mobile + .price{
                flex:2 0 auto
            }

            small{
                display: none;
            }
        }

        &:before{
            content:'';
            border-bottom: 1px dotted var(--c-text);
            opacity: 0.5;
            flex: 1 0 auto;
            margin: 0 var(--xs);
            transition: opacity 0.2s;
        }
    }
    &:hover .price:before{
        opacity: 1;
    }

    .currency[data-currencies]{
        text-decoration:none!important;
        right: 0;

        &:hover:after{
            left: auto!important;
            right: 0!important;
        }
    }

    p {
        @include text-block-compact;
        font-size: var(--f-s);
    }

    @include only-phone{
        font-size: var(--f-s);
    }
}