.table-of-contents{
    @include only-phone{
        h2{
            font-size: var(--l);
        }
    }

    ol > li{
        @include list-marker-ul;
        @include list-marker-light;
        &:not(.expanded) ol {
            display: none;
        }
        > .expand {
            display: inline-block;
            margin-left: var(--s);
            float: right;
            @include expansible;
        }
        &.expanded {
            > .expand{
                @include collapsible;
            }
        }
    }
}