.health-insurance-calculator, .contact-form{
    .contact-method{
        h3{
            text-align: center;
        }

        > .tabs{
            margin: var(--l-relative) auto;
        }
    }

    .benefits{
        display: grid;
        gap: var(--l-relative);

        svg{
            color: var(--c-text-heading);
            margin-top: var(--xs); // Align with the top of the text
        }

        li{
            display: grid;
            grid-template-columns: auto 1fr;
            gap: var(--l-relative);
        }
    }

    .health-insurance-options button {
        padding: var(--l) var(--m);

        > div:first-child{
            grid-column: 1/-2;
        }

        p{
            margin-top: var(--s);
        }

        .two-columns{
            color: var(--c-text-light);
        }
    }

}

:is(.anmeldung-form, .abmeldung-form, .tax-id-form){
    overflow: hidden; // For the <progress> to appear under the rounded corner

    picture{
        float: right;
        width: 302px; // Includes border
        height: 235px;
        overflow: hidden;
        margin: 0 0 0 var(--xl);

        img{
            margin:0 auto;
            border-radius: 0;
            width: 300px;
        }

        @include full-width-site{
            display: none;
        }
    }
    picture + p{margin-top:0}
    picture ~ hr{clear: both}

    > ol > li{
        @include list-marker-ol;
    }
    > ul:not(.buttons) > li{
        @include list-marker-ul;
    }
}