
.collections{
    margin-bottom: calc(var(--m) * -1)
}

.collection:not(:only-of-type){
    width: calc(50% - 19px / 2);
}

.collection{
    margin-bottom: var(--m);

    padding: var(--m) var(--w-page-border);
    box-sizing: border-box;
    background: var(--c-bg-page);
    box-shadow: var(--shadow-l);
    border-radius: var(--b-radius);

    h3{
        margin: 0 0 var(--m);
        padding: 0 0 var(--m);
        border-bottom: var(--b-box);

        a{
            color: var(--c-text-heading)
        }
    }

    h4{
        color: var(--c-text);
    }

    > :is(ol, ul) {
        margin-bottom: 0;

        > li + li {
            margin-top: var(--m);
        }
    }

    li li {
        @include list-marker-ul-compact;
        @include list-marker-light;
    }

    @include full-width-site{
        width: 100%;
    }
}
@include only-print{
    // Undo masonry.js layout, because it does not print well
    .collections{
        height: auto!important;
        .collection{
            position: static!important;
            width: 100%;
        }
    }
}

@include full-width-site{
    .collections{
        height: auto!important;
        margin: 0 var(--w-page-border);
        display: grid;
        gap: var(--l);
    }

    .collection {
        width: 100%!important;
        position: static!important;
        margin:0!important;
    }
}