.tip-jar{
    &, & img{
        position: relative;
        top: 0px;
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 139px;
        transition: top 0.2s;
        background: transparent;
        border: none!important;
        box-shadow: none!important;
    }
    @media (hover: hover) {
        &:hover{
            animation: 0.3s 2 shake;
            top: -7px;
            animation-delay: 0.3s;
        }
    }
}