.previews{
    > li {
        display: grid;
        grid-template-columns:clamp(200px, 300px, 40%) 1fr;
        gap: var(--m);

        + li{
            border-top: var(--b-box);
            margin-top: var(--m);
            padding-top: var(--m);
        }

        h3{
            @include text;
            color: var(--c-text-light);
            line-height: var(--line-height-label);

            a{
                font-weight: 600;
                display: block;
                margin-bottom: var(--xs);
            }
            time{
                font-size: var(--f-s);
            }
        }

        p{
            margin: 0;
        }

        @include only-phone{
            grid-template-columns: 1fr;
            gap: var(--s);
            font-size: var(--f-s);
        }
    }

    .guides, .newsletter{
        grid-template-columns: 1fr;
        gap: 0;
        h3{
            display: grid;
            grid-template-columns: 1fr auto;
            gap: var(--m);

            @include only-phone{
                grid-template-columns: 1fr;
                gap: var(--xs);
            }
        }
        p{
            font-size: var(--f-s);
        }
    }
}

li.yes, li.no{
    padding-left: calc(var(--l-relative) + var(--s));

    &:before{
        display: block;
        content: '×'!important;
        background: var(--c-bg-error);
        color: var(--c-text-error);
        width: var(--m-relative);
        height: var(--m-relative);
        line-height: var(--m-relative);
        border-radius: 50%;
        text-align: center;
        margin-top: calc((var(--m) * var(--line-height-label) - var(--m-relative)) / 2);
    }
}
li.yes:before{
    color: #fff;
    background: var(--c-highlight-green);
    content: '✓'!important;
}


.download-buttons{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--m);

    > a{
        @include box-l;
        @include box-clickable;
        max-height: 250px;
        overflow: hidden;
        text-align: center;
        margin: 0;

        span{
            font-size: var(--f-s);
            display: block; // Applies the line-height to this font size
            margin: var(--xs) 0 0;
            line-height: var(--line-height-label);
        }
        img{
            border-radius: 0;
            display: block;
            max-width: 100%;
            width: 300px;
            height: 500px;
            object-fit: contain;
            object-position: center top;
            background: var(--c-bg-page);
            margin: var(--m) auto 0 auto;
            border: var(--b-box);
            box-shadow: var(--shadow-l)!important;
            transition: transform 0.2s;
        }

        &:hover img{
            border-color:var(--c-border-box)!important;
            transform: scale(1.05);
            transition: transform 0.2s;
        }
    }

    @include only-phone{
        grid-template-columns: 1fr;
    }
}

.tip-jar{
    &, & img{
        position: relative;
        top: 0px;
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 139px;
        transition: top 0.2s;
        background: transparent;
        border: none!important;
        box-shadow: none!important;
    }
    @media (hover: hover) {
        &:hover{
            animation: 0.3s 2 shake;
            top: -7px;
            animation-delay: 0.3s;
        }
    }
}

.component-group{
    .collapsible{
        margin: var(--xxxl) 0;
    }
}