main .section.hero:has(.intro-text){
    padding: 0 var(--w-page-border);
}

.post-meta{
    border: none;
    padding: 0;

    .breadcrumbs{
        flex: 1;
        order: 0!important;
    }

    &:last-child{
        padding-bottom: 0;
        border-bottom: none;
    }
}

:is(.threads, .replies){

    > h2{
        margin: 0;
    }

    > ol{
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: var(--l);
    }

    .thread{
        grid-template-areas: "title meta";
        grid-template-columns: 1fr auto;

        h3{
            grid-area: title;
            font-size: var(--m);
            @include text-bold;
        }

        .post-meta{
            a{
                color: inherit;
            }
        }
    }

    .reply{
        grid-template-areas: "meta" "message";
        grid-template-columns: 1fr;
        .post-meta .username{
            flex: 1;
        }

        &:target{
            border: 2px solid var(--c-border-clickable-hover);
        }

        &.removed{
            color: var(--c-text-light);
            border: var(--b-box);
            background: transparent;
            grid-template-areas: none;
            padding: var(--m) var(--w-page-border);
            border-radius: var(--b-radius);
        }

        .username{
            .icon{
                display: none;
            }
            a{
                @include text-bold;
            }
        }
    }

    :is(.thread, .reply){
        display: grid;
        gap: var(--s) var(--m);
        grid-auto-flow: column;
        border-top: var(--b-box);
        padding-top: var(--m);

        .post-meta{
            color: var(--c-text-light);
            grid-area: meta;
            margin: 0;
            border: none;
            padding: 0;

            .date a{
                color: inherit;
            }
        }

        .e-content{
            grid-area: message;

            > :first-child{
                margin-top: 0;
            }
        }

        :is(.h-feed){
            grid-column: 2/-1;
            margin-top: var(--l);
        }
    }
}

.username{
    &.admin{
        font-weight: bold;
        color: var(--c-highlight);
    }
}

.login-paragraph{
    color: var(--c-text-light);
    text-align: center;
    padding: inherit var(--w-page-border)!important;
}