main .section.hero:has(.intro-text){
    padding: 0 var(--w-page-border);
}

.breadcrumbs{
    flex: 1;
    order: 0!important;
}

:is(.threads, .replies){

    > h2{
        margin: 0;
    }

    > ol{
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: var(--l);
    }

    .thread{
        grid-template-areas: "title" "meta";
        grid-template-columns: 1fr;

        h3{
            grid-area: title;
            font-size: var(--m);
            @include text-bold;
        }

        .post-meta{
            .breadcrumbs{
                flex: 1;
            }

            a{
                color: inherit;
            }
        }
    }

    .reply{
        grid-template-areas: "meta" "message";
        grid-template-columns: 1fr;
        .post-meta .user{
            flex: 1;
        }
    }

    :is(.thread, .reply){
        display: grid;
        gap: var(--m);
        grid-auto-flow: column;

        .post-meta{
            grid-area: meta;
            margin: 0;
            padding: 0 0 var(--m);

            a{
                color: inherit;
            }
        }

        .e-content{
            grid-area: message;

            > :first-child{
                margin-top: 0;
            }
        }

        :is(.h-feed, .reply-form){
            grid-column: 2/-1;
            margin-top: var(--l);
        }
    }
}

.login-paragraph{
    color: var(--c-text-light);
    text-align: center;
    padding: var(--s) var(--w-page-border)!important;
}

.reply-form{
    @include widget;
}