main .section.hero:has(.intro-text){
    padding: 0 var(--w-page-border);
}

:is(.threads, .replies){

    > h2{
        margin: 0;
    }

    > ol{
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: var(--l);
    }

    .thread{
        grid-template-areas: "title meta";
        grid-template-columns: 1fr 220px;

        h3{
            grid-area: title;
            font-size: var(--m);
        }

        p{
            margin: var(--s) 0 0;
            grid-area: description;
            font-size: var(--f-s);
            color: var(--c-text-light);
        }

        .post-meta > *{
            flex: 1 0 100%;
        }
    }

    .reply{
        grid-template-areas: "meta meta" "message message";
        grid-template-columns: auto 1fr auto;

        .post-meta{
            justify-content: space-between;

            .p-author{
                @include text-bold;
            }
        }
    }

    :is(.thread, .reply){
        display: grid;
        width: 100%;
        gap: 0 var(--m);
        grid-auto-flow: column;

        &:not(:last-child){
            border-bottom: var(--b-box);
            padding-bottom: var(--l);
        }

        .post-meta{
            grid-area: meta;

            align-content: flex-start;
            margin: 0;
            padding: 0;
            border: 0;
            color: var(--c-text-light);

            a{
                color: var(--c-text-light)!important;
            }

            time{
                color: var(--c-text-light);
                float: right;
                font-size: var(--f-s);
            }
        }

        .e-content{
            grid-area: message;

            p{
                margin: var(--s) 0 0;
            }
        }

        :is(.h-feed, .reply-form){
            grid-column: 2/-1;
            margin-top: var(--l);
        }
    }
}

.reply-form{
    @include widget;
}